[2014-04-16 18:44] adamamyl opened #1 "Schema dump"
Make a Schema dump/diagram for how CKAN stores things.

Probably useful to assume that spatial, qa, google-analytics, datastore, datapusher, pages, disqus, harvest, dashboard, viewhelpers extensions will be installed/used

[2014-04-16 18:46] adamamyl opened #2 "Share overview slides with partners/glasgow attendees"
Need contact details for all.

[2014-04-16 18:49] adamamyl opened #3 "Specify Azure instance sizes"
Select requirements for sizes/instances for production, staging, sandboxes, integration machines.

Send to Richard.

[2014-04-16 18:52] adamamyl opened #4 "Risks/Issues (migration)"
Short list outlining risks/issues associated with migration proposal (2.1 to 2.2; Onyx to Azure).

Send to @marekbell

[2014-04-16 18:53] adamamyl opened #5 "Risks/Issues (integration)"
Short list outlining risks/issues associated with integration proposal.

Send to @marekbell

[2014-04-16 18:54] adamamyl opened #6 "CKAN deploys and Windows"
Detail knowledge / blog posts of CKAN deployments on Windows

[2014-04-16 18:56] adamamyl opened #7 "Visually enter location metadata"
Spec out an extension to add support to chose a location on a map (dot, polygon, ?other shape), to be added as metadata (e.g., this dataset concerns "Gordon Square in Glasgow")

[2014-04-16 18:57] adamamyl opened #8 "Migrate data.glasgow to Azure"
Migrate (and upgrade) existing instance over to Azure

[2014-04-16 19:01] adamamyl opened #9 "Training wishlist"
Glasgow partners to identify topics/wishlist for training which they'd like to receive.

Possibly four or five two to three hour (hands-on) workshop/tutorial sessions.

[2014-04-23 10:32] adamamyl commented on #1
Do we have any sites with all those extensions installed, @nigelbabu ?

[2014-04-23 10:41] adamamyl opened #10 "Think about localization"
Consider ways of allowing localized spellings, e.g., -ise not -ize (q.v. [OxFAQ](http://web.archive.org/web/20040909164924/http://www.compsoc.net/oxnet/FAQs/ox.FAQ.html#53) ).

[2014-04-24 09:03] nigelbabu commented on #1
With all of them? No. In that list, demo has spatial, qa, googleanalytics, datastore, datapusher, pages, and disqus.

[2014-04-24 11:51] adamamyl commented on #1
@nigelbabu could you check maybe against pakistan; if necessary, I can merge two files ;o)

[2014-04-28 08:39] adamamyl opened #11 "PenTest report"
Send PenTest report

[2014-05-02 14:07] adamamyl commented on #11
Sent Out-of-band

[2014-05-02 14:07] #11 closed, assigned to adamamyl

[2014-05-02 14:07] adamamyl commented on #3
sent, out-of-band

[2014-05-02 14:07] #3 closed, assigned to adamamyl

[2014-05-16 08:33] adamamyl opened #12 "As a site visitor, if I have a WAAD login, I want to be able to use that username and password in CKAN."
As a platform user, if I have a Windows Azure Active Directory login, I want to be able to use that username and password in CKAN so I don't have another password to use.

The WAAD services will return an OAuth2 token (MS US R8.1.1: "An OAuth 2.0 token will be returned which will have to be used for all subsequent access to the platform")

When I login to CKAN, I expect CKAN to cache (until my nex

[2014-05-16 08:40] adamamyl opened #13 "As a platform administrator, I want to prime CKAN with a knowledge of the organizations that will be using the (integrated) platform so datasets can be allocated to the right place and users are set-up properly"
As a platform administrator, I want to prime CKAN with a knowledge of the organizations that will be using the (integrated) platform so datasets can be allocated to the right place and users are set-up properly.

I will be supplied with a consistently structured file, complete with organization name, organization ID, relevant usernames, relevant supplementary data about the users, so I can program

[2014-05-16 08:50] adamamyl opened #14 "As an authenticated user, I need to be able to create datasets so that I can add datasets to CKAN"
As a CKAN developer, I need to alter CKAN so it supports the EC processes to create datasets, metadata, and files.
## Notes

The preferred approach for this user story is an asynchronous process, something like
- Create dataset and metadata in one step via CKAN forms
- Call back to the EC APIs (dataset, metadata)
- Update the user through their browser

Users can create datasets and associated met

[2014-05-16 09:00] adamamyl opened #15 "As a CKAN developer, I need to extend CKAN's backend to enable EC interoperability to store IDs for adding/metadata/datasets/files"
As a CKAN developer, I need to extend CKAN's backend to enable EC interoperability to store IDs for adding/metadata/datasets/files.

I will add temporary tables to map the IDs provided, so the status can be followed for a given operation. This will include the CKAN Task ID, and the EC GUID, and possibly other information such as the status code received by which API from the EC.
## External depend

[2014-05-16 09:06] adamamyl opened #16 "As a CKAN developer, I need to extend CKAN's backend to enable EC interoperability to send data to the EC platform"
As a CKAN developer, I need to extend CKAN's backend to enable EC interoperability to send data to the EC platform.

Having understood the workflow (#14), and with temporary tables (#15) to aid the process, I need to build the functionality to handle the data transmission within CKAN's API.
## External Dependencies
- [ ] EC Schemas/End points
## Accept Criteria
- [x] Via the API, I can transfer fi

[2014-05-16 09:12] adamamyl opened #17 "As a CKAN developer, I will listen to the EC API for Status Codes during 'create' transactions"
As a CKAN developer, I will listen to the EC API for Status Codes during 'create' transactions.

As part of the uploading process to the EC, under the revised works (#14, #15,  #16) I will listen / receive a HTTP Status code from the EC, which will (hopefully) allow me to create a CKAN dataset
## Accept Criteria
- [ ] Datasets created via the CKAN API will return a status code from the EC, showing

[2014-05-16 09:21] adamamyl opened #18 "As a CKAN designer/developer, I will create a new front-end to allow the creation process to take place"
As a CKAN designer/developer, I will create a new front-end to allow the creation process to take place.

This will factor in some validation pre submission, to reduce chances of EC API rejection:
- [ ] Dataset titles should be unique for each organization (MS US 6.1.2)
- [ ] All filenames should be dropped to lowercase as the EC is case-insensitive (MS US 1.2.1)

This might will include AJAX call

[2014-05-16 09:25] adamamyl commented on #15
The **Data Collection API** for **dataset creation** will have this signature:

`POST https://<HostURL>/Datasets`
`<JSON body defining content>`

All characters in Metadata properties are stored in UTF-8 format

The mandatory metadata is supplied in JSON format:
-  Title (255 chars, unique within an org, mutable)
-  Description (4000 chars, mutable)
-  Maintainer Name (255 chars)
-  Maintainer Con

[2014-05-16 09:27] adamamyl commented on #15
The Data Collection API for **file creation** will have this signature:

`POST https://<HostURL>/Files`
`<JSON body defining metadata and file content>`

The mandatory metadata is supplied in JSON format:
-  Title: string(required, max 255 chars)
-  Filename: string (max 255 chars) Must conform to standard file name conventions and is url encoded and is not case sensitive
-  Description: string (r

[2014-05-16 09:38] adamamyl opened #19 "As a CKAN Tester, I need to build a stub to facilitate testing"
To enable me to test the functionality our team builds, we need to develop a lightweight stub for testing purposes that delivers the responses that the EC would, under all defined circumstances.

This should return/store the actions and outcomes of the operation.

This needs to act in the same way that the EC built objects would.
## Acceptance criteria

Should have a user interface to inspect mess

[2014-05-16 09:46] adamamyl opened #20 "As a CKAN Systems Administrator I need to build a deployment system to enable a fast, predictable, scalable deployment of the CKAN components"
As a CKAN Systems Administrator, I need to build a "playbook" or similar to have a largely automated / one command installation of the CKAN product and appropriate extensions, including those built under this project.

I need to be able to deploy development versions to sandboxes, a signed-off branch to an integration environment, and a further signed-off copy to production.

I need to have reposi

[2014-05-16 11:39] adamamyl opened #21 "As a CKAN maintainer, I want to migrate the existing portal design changes into a Theme"
As a CKAN maintainer, I want to migrate the existing portal design changes into a Theme as per the Best practice CKAN [theming guide](http://docs.ckan.org/en/latest/theming/index.html).
## Requisites
- Access to the existing repo / code
- Design freeze / notification of changes
## Accept Criteria
- [ ] Theme changes present as a CKAN theme
- [ ] The site looks the same

[2014-05-16 11:43] adamamyl opened #22 "As a CKAN maintainer, I want the local hacks/modifications to be reflected as extensions"
As a CKAN maintainer, I'm aware that changes have been made locally, rather than always as an extension.

I want to migrate those changes over to extensions to allow for
- [ ] Better deployment
- [ ] Easier upgrades
- [ ] [Best practice](http://docs.ckan.org/en/latest/extensions/index.html)

Local changes are:
- [ ] x
- [ ] y
- [ ] z
## Accept criteria
- [ ] Each extension-candidate is an extensio

[2014-05-16 11:47] adamamyl opened #23 "As a data consumer, I want to be able to find data, metadata, files, resources that aren't indigenous to CKAN"
Additional data, metadata, files will be created outside of CKAN, but stored in the EC.

As a data consumer, I don't care about this, I just want data. Available to me through CKAN.

CKAN should periodically harvest a defined endpoint (and iterate through ids for organization & datasets), and pull in to the CKAN catalog these metadata so those externally created resources appear within CKAN.
## De

[2014-05-16 11:49] adamamyl commented on #23
New datasets (building applications) are created in CKAN. The ID is used by 'adaptors' that publish data.

The file API would be used to add content externally to CKAN.

Flag in CKAN for immutable datasets (ones created in CKAN)

[ACTION] EC created content will be assumed that it has been validated, externally -- check EC validation rules (lengths, regex, etc) are consistent with CKAN. CKAN will

[2014-05-16 11:50] adamamyl commented on #19
Need collaboration with Microsoft on actualities. See Yammer.

[2014-05-16 11:51] adamamyl commented on #16
Need clarification from MS on how file is uploaded  "Temporary storage of the file (by CKAN) in a sandbox?"

Size limit <2GB

[2014-05-16 11:51] adamamyl commented on #16
Public URI for file will be returned by EC (to be consumed by CKAN).

[2014-05-16 11:52] adamamyl commented on #14
This includes creating a custom dataset schema with the validators needed and the templates

[2014-05-16 11:53] adamamyl commented on #15
Creation of content from CKAN API (not front-end). API impact. Ajax call-back/poll for status/correlation id.

Temporary table for CKAN ID and EC Status, with dataset name, e.g., if user x creates "Carparks" and user y creates "Carparks" we throw an exception/error message to user.

First validation on CKAN (file uniqueness, missing mandatory metadata).

[2014-05-16 11:54] adamamyl commented on #12
No need to factor in Single Sign OUT.

[2014-05-16 11:57] adamamyl commented on #12
SLP to confirm what EC is doing.

[2014-05-16 12:01] adamamyl commented on #22
Consider hacks relating to harvesters and custom workflows with @marekbell

[2014-05-19 11:22] adamamyl opened #24 "Provision Azure machines"
https://manage.windowsazure.com (creds in lastpass)

Machines to provision are
- [x] okfsandboxdb
- [x] okfstandboxfe // frontend
- [x] okfstagingdb1
- [x] okfstagingfe

Related: #20

[2014-05-19 11:50] adamamyl commented on #24
(details in "Glasgow Azure SSH" lastpass)

[2014-05-21 09:06] adamamyl commented on #12
@seanh Would you be interested in this? Perhaps testing out https://github.com/etalab/ckanext-oauth2 ? (documentation / endpoints for this is imminent)

[2014-05-21 09:10] adamamyl commented on #24
For initial extensions let's go with
- [ ] ckanext-googleanalytics
- [ ] ckanext-qa
- [ ] ckanext-spatial
- [ ] ckanext-harvest

[2014-05-21 09:11] adamamyl commented on #24
Wondering about ckanext-realtime, but probably good to have a discussion about that.

[2014-05-21 09:51] amercader opened #25 "Set up Travis for tests"

[2014-05-21 10:50] seanh commented on #12
Happy to look into it. Does developing this require a Windows Azure Active Directory account though? Sounds like a pain. Or does it just require a generic OAuth2 plugin?

[2014-05-21 10:56] adamamyl commented on #12
We'll know more on the set-up today/tomorrow, but there will be a WAAD provisioned, and an account against which we will be able to test (for now, all accounts from WAAD will be admins, but that's changing).

In discussion today, we'll need to add the CKAN instance as a provider (in the Azure setup &#8212; details in lastpass), which can only take place once #24 has happened.

[2014-05-22 10:59] amercader commented on #24
I'm not sure ckanext-realtime is ready for production and besides we still need to work on data on future iterations.

[2014-05-22 11:11] adamamyl commented on #24
let's park ckanext-realtime (for now): but keep an eye on it

[2014-05-27 12:38] seanh commented on #12
It seems we need to provision those Azure machines and get that WAAD and test account before we can start making any steps on this.

From what I read of the [OAuth 2.0 spec](http://tools.ietf.org/html/rfc6749) it sounds like OAuth 2 is not the kind of spec that you can write a generic client implementation of that will work against any OAuth 2 authorization and resource server, rather you need to

[2014-05-27 12:40] seanh commented on #12
Looking to see if WAAD itself has any public docs about its implementation of OAuth 2.0...

[2014-05-27 12:56] seanh commented on #12
... Nope, searching for that doesn't seem like an effective use of my time. Need documentation about the WAAD OAuth 2 service and a test server before we can start. Blocked for now I think

[2014-05-27 13:18] adamamyl commented on #12
I've asked for a clarification/doc link from MS.

[2014-05-27 13:20] adamamyl commented on #12
@seanh http://msdn.microsoft.com/en-us/library/azure/dn645545.aspx has been suggested.

[2014-05-27 14:21] seanh commented on #12
http://msdn.microsoft.com/en-us/library/azure/dn645542.aspx combined with a test account for login.windows.net and with our CKAN instance added to Azure as a provider, should be enough to let someone login to CKAN using their WAAD username and password.

Once we register our CKAN instance with Azure and get a client ID, will I be able to use that client ID to do OAuth authorizations with their ser

[2014-05-28 11:19] #25 closed, assigned to nobody

[2014-05-28 18:51] amercader commented on #19
Started work on this as I needed it for my tests, see

https://github.com/okfn/ckanext-glasgow/blob/master/ckanext/glasgow/tests/mock_ec.py

[2014-06-02 13:01] adamamyl opened #26 "As a site visitor I want to be able to list all organisations so I can see the organisations available on the platform"
As a developer, I need to import the information from the Metadata Services API, to return this information.

I need to think about caching, and the information CKAN likes/expects, that's not contained within the Metadata Services database (e.g., image).
## Additional details
- [ ] The quantity of organizations to be displayed will be defined in a database, so a site admin can vary the quantity th

[2014-06-02 13:27] adamamyl opened #27 "As a site visitor I want to be able to list all datasets in an organisation so I can see the datasets the organisation published"
## Background Info

API

The Metadata API for listing datasets in an organisation will have this signature:

[code]

[code]

are:
- $top - the size of page to return.
  If parameter is omitted, the default value is 100.

Minimum page size is 1 and maximum page size is 100. If the user specifies value outside this range, it is treated as if they've entered the default value (100).
- $skip - the num

[2014-06-02 14:05] adamamyl opened #28 "As a site visitor I want to be able to list all metadata on a dataset so I can see the dataset metadata properties"
## Background Notes

API
There is an HTTPS REST API for listing metadata on a dataset with the following signature:

[code]

Response is JSON formatted and contains all Mandatory and Optional metadata defined for the dataset
### Scenarios
#### Success

Given specified `<organisationId>` and `<datasetId>` exist (and dataset belongs to specified organisation)
When the user requests all metadata for

[2014-06-02 14:17] adamamyl opened #29 "As a site visitor I want to be able to list all files in a dataset (latest version) so I can see all files in a dataset"
## Background Info

API
There is an HTTPS REST API for listing files in a dataset with the following signature:

[code]

Response is JSON formatted and contains a list of file records containing the metadata for each file in the dataset including `<FileId>` which is needed for downloading the file.

Only the latest version of each file will be returned.

The returned data will include the fileId a

[2014-06-02 14:25] adamamyl opened #30 "As a site visitor I want to be able to download the latest version of an existing file within a dataset so I can view the file."
## Background Docs

API
The public API for data consumption services will follow this signature:

[code]
## Implementation discussion points
- Pulled from file API
- Potential issues around TTLs on file API?
- Notice the HTTP Status Codes.
- Harvesting sync thoughts.
## Accept criteria
- [x] The latest version of the file within the dataset should be downloadable. It should have the original name

[2014-06-02 14:59] adamamyl opened #31 "As a site visitor, I want to be able to list all the versions of a specific file in a dataset, so I can see the history of file versions"
## Related Issues:
#29, #30

Use existing pagination options.
## Implementation Notes

A diff is _not_ needed.
## Accept Criteria
- [x] On viewing a dataset, I have the option to see the all the versions of a specific file within the dataset

[2014-06-02 15:16] adamamyl opened #32 "As an Organisation Editor/Admin / SysAdmin, I want to be able to initiate creation of a new version of an existing file in a dataset, so that I can create new file versions"
## Technical consideration
- Enhancement to CKAN Ingestion process, to consider the spec
## Background

API
The Data Collection API for new file version creation will have this signature:

[code]

[code]

The core metadata (mandatory and optional) is supplied in JSON format:
- File ID: long integer (identifier of an existing file)
- Dataset ID: long integer (reference to Dataset)
- Title: string (

[2014-06-02 15:26] adamamyl commented on #32
Gather thoughts on UI for how to create a new version of the file.

[2014-06-02 15:45] adamamyl opened #33 "As an site visitor I should be able to download a specific version of a file within a dataset so I can view the file"
## Technical considerations

Honour the EC API restrictions (see MS User Story 246).

http://[Hosturl]/Download/Organisation/[organisationId]/Dataset/[dataSetId]/File/[FileId]/version/[versionId]
## Accept criteria
- [x] On the list datasets page, under the resources  (#31) view, add/ensure there's a 'download' button.

[2014-06-03 10:55] adamamyl opened #34 "As an authenticated user I should be able to upload files so i can add files to a dataset"
As a CKAN developer, I need to alter CKAN so it supports the EC processes to create metadata, and files.
## Notes

The preferred approach for this user story is an asynchronous process, something like
- Create dataset and metadata in one step via CKAN forms
- Call back to the EC APIs (dataset, metadata)
- Update the user through their browser
- Upload file(s), appending metadata
  -  but note 10 f

[2014-06-03 10:56] adamamyl commented on #14
See #34 for files. (split out)

[2014-06-03 10:57] #19 closed, assigned to nobody

[2014-06-03 12:35] adamamyl commented on #26
(harvest these data)

[2014-06-03 12:36] adamamyl commented on #27
(depends on: #26 )

[2014-06-03 12:53] adamamyl commented on #29
Accept criteria dependent on #34

[2014-06-03 13:08] adamamyl opened #35 "As a site visitor, I want to be able to view the metadata for a specific version of a file within a dataset so that I can look at metadata"
As a site visitor, I want to be view the metadata for a specific version of a file
## Accept Criteria
- [x] The metadata for a specific file version can be viewed

[2014-06-03 13:09] adamamyl commented on #31
See also #35

[2014-06-03 13:18] adamamyl commented on #32
Pre-populate metadata for new version based on previous item(s).

[2014-06-05 09:32] Nithyavasudevan opened #36 "Keywords/Tags input in the CKAN front end does not seem to be linked to the 'Tags' column in the metadata table on the platform"
Created a dataset with Title "Integration Test" and CKAN Task ID '85b1fcd8-17ea-43e9-bcfc-16abbfd53b1a' from the CKAN front end. Checked the task_status table and found the record with state = 'sent' and tag_string values of  "nithya,tag,keyword". & "tags": [{"name": "nithya"}, {"name": "tag"}, {"name": "keyword"}]
Dataset was created on the platform with the same title. However, the 'Tags' field

[2014-06-05 10:01] Nithyavasudevan opened #37 "The license details passed to the platform seems to be a contraction of value selected on front end"
While creating a dataset from CKAN, the licence value chosen in the dropdown box is "Open Data Commons Open Database License (ODbL). However, when this is gets passed from CKAN, I can notice that the license field in their task_status table is contracted to odc-odbl. And this is how it is stored on the platform. Is this acceptable? I am wondering if it might impact any other application when query

[2014-06-05 10:27] Nithyavasudevan opened #38 "Tags field not permitting all allowed "string" characters"
Tried to create a dataset with title length of 255 characters and value in the "keyword" field as '%%%££'. On submission of the dataset, an error message appears as follows.

The form contains invalid entries:
•Tag string: Tag "%%%££" must be alphanumeric characters or symbols: -_.

The specification for the field on the platform is 'Tags: string - comma separated list (optional, max 64000 chars t

[2014-06-05 10:42] amercader commented on #36
@Nithyavasudevan This should be fixed now

[2014-06-05 10:44] amercader commented on #37
@Nithyavasudevan see comment on yammer regarding license ids vs license descriptions

[2014-06-05 11:26] Nithyavasudevan opened #39 "Dataset creation seems to checking for duplicates (but not using title field) in the local server and rejecting creation even though original dataset doesn't exist on platform"
Created a dataset with title length of 255 characters (as i know this will be rejected by platform due to known defect.). Got the request id back from API as expected. Checked on the platform and dataset was not found in metadata database (due to known defect). Dataset was found in the temp metadata database on the platform.
Now tried to create another dataset from CKAN using same title. Got an er

[2014-06-05 12:46] Nithyavasudevan opened #40 "task_status table does not seem to store dataset details for a dataset creation request when the api responds with a 401"
Tried to create a dataset with an expired auth token. (CKAN Task id 7968667e-ad52-40cd-9f26-d728571826c3). The api responded with a 401 as expected. On checking the task_status table for the values, the dataset details are not stored in the table. The "state" field has the value "error" but the "error" field is empty. Is this the right behaviour?

[2014-06-05 13:19] Nithyavasudevan opened #41 "Estimated rowcount varies from actual rowcount on task_status"
When I select the task_status table on pgAdmin, I get a message that says estimated rowcount on table varies from actual rowcount. Would this impact any performance or is it too early to look at this? Attached an image of the message

![image](https://cloud.githubusercontent.com/assets/7315913/3187713/f3c547f6-ecb3-11e3-9a84-22c68b342873.png)

[2014-06-05 13:56] Nithyavasudevan opened #42 "Able to create 2 datasets with the same title"
Created a dataset with Title "Log Duplicate Title". It autocreated a url of "okfsandboxfe.cloudapp.net/dataset/log-duplicate-title". This had a CKAN Task id of "039e4654-8e55-4fcb-a54b-4135c76378c3" and CTPEC Request ID of "55eb79e1-848f-49a9-af49-51e09b831c10".

Checked the platform and this dataset got created with a dataset id of 10053.

Now went back to CKAN and created another dataset with Ti

[2014-06-05 15:30] adamamyl commented on #41
@Nithyavasudevan this message is safe to ignore; you can hit the 'Do not show this hint again'

[2014-06-05 15:44] Nithyavasudevan opened #43 "Mismatch between field length for tags field between CKAN and the platform"
The Tags field in the platform is Tags: string - comma separated list (optional, max 64000 chars total).

I tried to create a dataset with value in tags field of length 255 characters. I got the following error message.

"The form contains invalid entries:
•Tag string: Tag "maintainer name testeilrugilowekutbrgiloweubtrgiweutrbgiertbggritghbnreutgjbvieutrhgipeutrhgpiwutehgpiwuerghbnpiurtwpghbniwru

[2014-06-05 15:50] Nithyavasudevan commented on #43
Seems like it has validation to check that a single tag value is 100 or less. i am able to add 2 tags (one of length 100 and one of length 2).

[2014-06-05 16:04] Nithyavasudevan commented on #41
Making this a task to monitor at a later stage as agreed with SLP

[2014-06-05 16:46] Nithyavasudevan opened #44 "Unable to figure out how the tags field works"
Started creating a dataset and in tags field, entered the first tag value of length 99 characters followed by a comma. Now it doesn't let me enter a second tag value of length 99. It however lets me enter a tag value of length 98 followed by a comma. Then when I try to enter another tag value after the comma of length 98, it doesn't let me. It however lets me enter a third tag value of length 97 f

[2014-06-05 17:08] Nithyavasudevan commented on #36
Retested this and it works fine. DatasetID 11079.

[2014-06-05 17:08] #36 closed, assigned to adamamyl

[2014-06-10 16:43] amercader commented on #42
@Nithyavasudevan We still need to add this validation, right now it only occurs at the name (URL) level.

Just to be clear, should titles be unique across the whole site? Is this how the validation is implemented on the metadata API?

[2014-06-10 16:48] amercader commented on #43
The maximum tag length in CKAN is 100 characters, and this is set at the db table level, so changing it would require significant effort.

The spec mentions a combined max length of 64000, which we are enforcing [1], but does not limit the length of individual tags, so it seems like we are not deviating from it.

[1] https://github.com/okfn/ckanext-glasgow/blob/master/ckanext/glasgow/logic/schema.

[2014-06-10 16:54] amercader commented on #44
@Nithyavasudevan I can add multiple tags of 99 characters to the tags field _as long as they different_. Are you using different tags?

[2014-06-10 16:56] amercader commented on #40
@Nithyavasudevan We are storing the whole error on the "value" field. We added the dataset metadata as well now in case we need it in the future

[2014-06-10 16:56] #40 closed, assigned to adamamyl

[2014-06-11 09:49] amercader opened #45 "Add import commands for initial load of data"
Related US #26, #27

Write some paster commands that use the Metadata API to import all existing organizations and datasets in the platform to CKAN

See wiki pages for relevant requests / responses:

https://github.com/okfn/ckanext-glasgow/wiki/Sample-Datasets-from-EC-API
https://github.com/okfn/ckanext-glasgow/wiki/Organisation-responses-from-EC-API

There are functions in `logic/schema.py` to co

[2014-06-11 10:41] Nithyavasudevan commented on #27
What is the default sorting within CKAN? Is it configurable within the configuration set? Also what is the paging size?

[2014-06-11 13:40] amercader commented on #45
@joetsoi I should have mentioned, when creating / updating datasets via the importers pass `local_action` on the context, otherwise it will go via the request to the API path.

[2014-06-13 12:16] amercader opened #46 "Update existing logic for updated endpoints"
As of Iteration 2, there are two separate endpoints, one for POSTing stuff (port 8080) and one for GETing stuff (port 8081), we need to account for that when creating the request and on our mock EC API

Also the POST ones seem to require the Organisation now:

Create Dataset: /Datasets/Organisation/2 (instead of /Datasets)

Add a File to Dataset: /Files/Organisation/2/Dataset/3

Add a new File Ver

[2014-06-13 12:17] amercader commented on #46
Full endpoints here: https://github.com/okfn/ckanext-glasgow/wiki/EC-API-Endpoints

[2014-06-16 10:48] Nithyavasudevan commented on #42
@amercader  Titles are unique within an organisation. Not across the whole site.

[2014-06-16 10:55] adamamyl opened #47 "As a SuperAdmin/Organisation Admin/Editor, I want to be able to initiate publication of a URL for an externally hosted file instead of providing a data file so that I can publish an externally hosted file."
This is an amendment to:
- User Story #77 (US 1.2.1 As a Data Manager I want to be able to ingest files into the platform so I can add new files into an existing dataset.)
  - User Story #79 (US 1.2.3 As an Organisation Editor/Admin, I want to be able to initiate creation of a new version of an existing files in a dataset, so that I can create new file versions)

The users should be able to reques

[2014-06-16 11:02] adamamyl opened #48 "As an Anonymous User, I should be able to download an external file within a dataset so I can view the file"
This user story is an amendment to:
- US #246 (US R5.1.2 As an Anonymous User I should be able to download a specific version of a file within a dataset so I can view the file.)
- US #310 (US R5.1.3 As an Anonymous Data User I want to be able to download the latest version of an existing file within a dataset so I can view the file)
## API

This user story re-uses and updates the following API of

[2014-06-16 11:05] adamamyl opened #49 "As an Anonymous User, I should be able to preview an external URI within a dataset so I can view the URI"
## Accept Criteria

In a browser, viewing a resource, externally hosted, I see an iframe showing a preview of that particular URI

[2014-06-16 11:54] adamamyl opened #50 "As an Authenticated User, I should be able to check the status of an asynchronous operation, so I can check if my operation completed successfully"
## OKF Notes

Status codes will let us track CKAN IDs against EC ids, and return this information to the user.

Could also provide information to org-admins telling them they have actions (Iteration 4) needing their attention.
## Acceptance Criteria
- [ ]  When I check an operation that has not yet completed (like create, etc), I should receive a message saying the operation is in progress
- [ ]

[2014-06-16 13:48] adamamyl opened #51 "As an Organisation Editor/Admin/SuperAdmin, I want to be able to initiate dataset predefined metadata update, so that I can correct dataset metadata"
## API

The Data Collection API for dataset creation will have this signature:

 `PUT https://<HostURL>/Datasets/Organisation/<OrganisationId>/Dataset/<DatasetId>`
 `<JSON body defining content>`

 All characters in Metadata properties are stored in UTF-8 format

 The predefined (mandatory and optional) metadata is supplied in JSON format:
  • Title: string (required, max 255 chars)
  • Descriptio

[2014-06-16 13:53] adamamyl opened #52 "As SuperAdmin, I should be able to initiate creation of a new organisation, so that new organisations can be added to the platform"
## API

Data Collection service should expose the following HTTP REST API to add new organisations:

`POST https://<hostUrl>/Organisations`
 `<JSON body defining metadata for organisation>`

 The body of the request should contain the following properties:
- Name (string, required, 2-500 characters)
- About (string, optional, max 4000 characters)

The description is expected to be in markdown form

[2014-06-16 14:08] adamamyl opened #53 "As a SuperAdmin/Organisation Admin/Trusted Portal, I want to be able to initiate creation of a new user account on the platform so that the user can access the platform"
## Microsoft's API

Data Collection service should expose the following HTTP REST API to add new user account:

`POST https://<hostUrl>/Users{/Organisation/<organisationId>}`
`<JSON body defining metadata for user>`

The body of the request should contain the following properties:
- Username (without "@domain" part) - string, required, 1-16 characters, only digits, latin letters, dash (-), undesco

[2014-06-16 14:31] adamamyl opened #54 "As an Authenticated user, I want to be able to initiate update of user accounts on the platform so that I can correct user information"
## API

Data Collection service should expose the following HTTP REST API to add update user account:

`PUT https://<hostUrl>/Users{/Organisation/<organisationId>}/User/<userId>`
`<JSON body defining metadata for user>`

The body of the request should contain the following properties:
- Email - string, required, max 255 characters, must be a well formatted e-mail address
- First Name - string, req

[2014-06-16 15:02] adamamyl opened #55 "As a SuperAdmin/Organisation Admin, I want to be able to update user roles, so I can manage permissions on the platform"
## API

The Data Collection Service should expose the following HTTP REST API to update user roles and organisation assignment:

 `PUT https://<HostURL>/UserRoles{/Organisation/<organisationId>}/User/<userId>`

`<JSON body containing new roles for the user>`

The body should contain JSON encoded:
- NewOrganisationId, string, optional; This must be set to the users current or new organisation. If t

[2014-06-16 15:06] adamamyl commented on #55
See also MS US 1365

[2014-06-17 10:57] adamamyl opened #56 "As a SysAdmin I want to be able to process and view EC Audit activity"
See also #50 and [Microsoft User Story 1305](https://docs.google.com/a/okfn.org/spreadsheets/d/1vE6hKWnLPv7s60RFDpXKuvxhuQWoPWUK0NRaR1rPiU8/edit#gid=0)

Initial thoughts for implementation
- Request updates made in platform (API request)
- harvest changes into CKAN
- enumerate the resource types (organizations, datasets, files, users)
- detect CUD (change, update, delete) changes
- populate data i

[2014-06-17 13:21] adamamyl commented on #26
Clarify values on what's in the config file.

[2014-06-19 09:06] adamamyl commented on #54
This would involve splitting the existing form for name, into two blocks; firstname and lastname. See the 'weep' note in #53.

[2014-06-19 10:47] adamamyl commented on #32
Add a new field to facilitate this, possibly a Controller Action (did I capture that properly?)

[2014-06-20 11:17] Nithyavasudevan opened #57 "Unable to see all organisations in the platform on CKAN"
Opened "https://ckanfrontend.cloudapp.net/organization" as an anonymous user. Am able to see only 93 organisations. A manual harvest was triggered by Adam at 11.30 am. Its 12,10. I still don't see all the organisations. Number of organisations in the platform = 109

![image](https://cloud.githubusercontent.com/assets/7315913/3339456/5e6f0196-f86c-11e3-8e34-96b0cd1410d0.png)

[2014-06-20 12:09] Nithyavasudevan opened #58 "1 organisation appears at the bottom of the CKAN home page"
Opened the page "https://ckanfrontend.cloudapp.net/". On the home page one of the organisations is displayed at the bottom of the screen.

![image](https://cloud.githubusercontent.com/assets/7315913/3339799/373ae372-f873-11e3-9147-ddd87bfe9756.png)

[2014-06-20 12:27] Nithyavasudevan opened #59 "All datasets not displayed in dataset page"
The platform has 15 datasets. When I open the datasets page as an anonymous user, I am able to see only 7 datasets. The manual harvest for data was done by Adam at 11.30am. Time is now 13.16. Still no new datasets.

![ckan datasets](https://cloud.githubusercontent.com/assets/7315913/3340248/f8ccf12c-f87a-11e3-895e-0e9f61d36118.png)

[2014-06-20 12:54] Nithyavasudevan opened #60 "Order by clears the Organisation filter"
1. Open "https://ckanfrontend.cloudapp.net/" as an anonymous user
2. Click on datasets link on top. Takes you to datasets page which displays 7 datasets.
   ![image](https://cloud.githubusercontent.com/assets/7315913/3340117/c2689db8-f878-11e3-997c-a32c598ad28f.png)
3. Click on the organisation "Glasgow City Council" on the left which shows you the datasets within that organisation, Ordered by rel

[2014-06-20 15:30] adamamyl commented on #58
This was a 'homepage' option (at the bottom of https://ckanfrontend.cloudapp.net/ckan-admin/config), featuring an organization/dataset.

I've adjusted it to not show that.

[2014-06-20 15:31] adamamyl commented on #59
@joetsoi

[2014-06-20 15:31] Nithyavasudevan opened #61 "Order by option for created date not available in the organisations tab"
1. Open portal as an anonymous user and navigate to Organisations screen,
2. Click on the drop down list for order by
3. Order by Name is the only sorting present. It is missing creation date as mentioned in user story 26

![image](https://cloud.githubusercontent.com/assets/7315913/3342113/4f78a656-f88f-11e3-8b80-a5636d7c6855.png)

[2014-06-20 15:35] Nithyavasudevan commented on #58
Can you please not close any of my issues until agreed with me please?

I am not sure I understand what this homepage option is.. I could not find it on the data.glasgow site. Is it a requirement?

[2014-06-20 15:36] amercader opened #62 "Need to include relevant configuration settings as part of the deploy"
Especially the auth ones.

The settings are described in the README

[2014-06-20 15:51] Nithyavasudevan opened #63 "Metadata on a dataset not harvested from the platform"
On trying to view the metadata for a dataset most of the metadata values are not retrieved from the platform. Some values (Maintainer Name and Email) are retrieved. This is user story 28

![image](https://cloud.githubusercontent.com/assets/7315913/3342434/8bf4f10e-f892-11e3-9dc2-7c3b96cf5051.png)

[2014-06-20 16:10] Nithyavasudevan opened #64 "Caching of user id's"
When I login to CKAN using a platform user and then logout and try to login again, it caches the old user and wouldn't let me switch users. So it automatically logs me in with old user id.

[2014-06-23 08:46] Nithyavasudevan opened #65 "No consistency between data shown on various pages."
1. Open https://ckanfrontend.cloudapp.net/
2. Note number of datasets shown under CKAN Statistics on the home page is 8

![image](https://cloud.githubusercontent.com/assets/7315913/3355325/7dc36630-fab1-11e3-9edc-27c8514b1c95.png)
1. Click on datasets link and go to https://ckanfrontend.cloudapp.net/dataset
2. Note that number of datasets found is 7.
   ![image](https://cloud.githubusercontent.com

[2014-06-23 08:53] Nithyavasudevan opened #66 "Organisations not fetched in dropdown box when creating dataset"
1. Logged in as SuperAdmin and navigated to create dataset screen.
2. Filled in all the mandatory fields.
3. Tried to select an organisation from the dropdown list.
4. Aberdeen School of Art was listed by default and no other organisations were present.
5. Tried to search for Microsoft which is an organisation present in the platform and listed as one of the organisations within CKAN. But search r

[2014-06-23 09:06] Nithyavasudevan opened #67 "Visibility is not a value GCC use on a dataset"
1. Logged in as SuperAdmin and navigated to create dataset screen.
2. Note the Visibility dropdown with values Private & Public.
3. This is not a field required by GCC and this field should not be present. All datasets are public by default.
   ![image](https://cloud.githubusercontent.com/assets/7315913/3355641/98c543d2-fab5-11e3-9e40-9ad36d699d71.png)

[2014-06-23 09:13] Nithyavasudevan opened #68 "Unable to create dataset with valid login details"
1.Logged in as SuperAdmin and navigated to dataset creation page
2. Entered all values needed for creating a dataset and hit submit
3. Got an EC auth error
![image](https://cloud.githubusercontent.com/assets/7315913/3355702/784ce03c-fab6-11e3-82cd-6b4f38815217.png)

[2014-06-23 09:59] Nithyavasudevan opened #69 "No link to upload a file"
1. Login as SuperAdmin and navigate to dataset screen
2. Click on a dataset and then on the "why not add some" link on the next page so it takes you to the screen to add files
3. Fill in the mandatory values and click add.
4. You get an error message saying Upload: No file uploaded
5. But there is no link on the screen to actually upload a file
   ![image](https://cloud.githubusercontent.com/asset

[2014-06-23 10:56] amercader commented on #57
As of this comment timestamp there are 108 organizations defined in the platform. 15 of these are duplicates (which sounds like a bug and should be not allowed):

108 - 15 = 93

List of duplicates:

[code]

[2014-06-23 11:01] Nithyavasudevan commented on #57
All these were entered directly on the database. So no bug in platform. So CKAN validates results coming back from the API before displaying on screen?

[2014-06-23 11:02] amercader commented on #58
A plain CKAN (without any customizations) will display a column on the left with a featured Group and its datasets and a column on the right with a featured Organization and its datasets (See eg http://demo.ckan.org/). There are no groups in this server so a single org is shown.

You can change this setting between a set of predefined layouts in the [config page](https://ckanfrontend.cloudapp.net/

[2014-06-23 11:03] Nithyavasudevan commented on #58
happy with explanation. can be closed.

[2014-06-23 11:03] #58 closed, assigned to adamamyl

[2014-06-23 12:15] amercader commented on #63
The metadata is harvested, but due to a mistake in the deployment was not shown in the frontend. Should be fixed now, see eg:

https://ckanfrontend.cloudapp.net/dataset/test-dataset-org2

https://ckanfrontend.cloudapp.net/dataset/this-is-a-dataset

[2014-06-23 12:26] amercader commented on #61
This is not included in the default CKAN behaviour and will require some overriding.

[2014-06-23 12:35] amercader commented on #64
We are not caching any user ids. The logins in CKAN and the WAAD are completely separated. You are just logging out of CKAN, not on the remote WAAD server. There isn't an easy way as far as we know to programmatically force a log off in the remote server, and it's something that you probably don't want, as you might be using the same session on other sites.

@stevenlivz may have more details on th

[2014-06-23 12:36] Nithyavasudevan commented on #61
This requirement is actually mentioned in the user story.

[2014-06-23 12:37] adamamyl commented on #61
This may have been an error in creating the user story, as sorting by modified date is a default option in datasets? (my recollection from planning meetings was that we were not going to change the CKAN default sorting options at this stage)

[2014-06-23 12:37] amercader commented on #69
Sorry, a mistake during deployment, should be fixed now. Note that the "Link" option will not work until #47 is implemented on both sides.

[2014-06-23 12:43] amercader commented on #67
This field was mentioned on a few occasions on the preliminary tech discussions so that's why we kept it, but we'll hide it straight away.

[2014-06-23 12:51] amercader commented on #66
The user management side of the auth process is not yet implemented (neither in the EC API or the CKAN side of things).

This means that when you log in with a WAAD user, CKAN has still no way of knowing that a) this user is a superadmin or b) which organizations this user belongs to. Right now the user is created as a normal user without rights in any organization.

The reason Aberdeen School of

[2014-06-23 12:53] amercader commented on #68
@Nithyavasudevan can you try creating a dataset under the "Aberdeen School of Art" organization?

https://ckanfrontend.cloudapp.net/organization/aberdeen-school-of-art

See https://github.com/okfn/ckanext-glasgow/issues/66#issuecomment-46840463 for what might be going on.

[2014-06-23 12:55] Nithyavasudevan commented on #68
I tried for Aberdeen School of Art as it was the only one and got the above message. But i am guessing you need to add my uid to that dataset?

[2014-06-23 12:55] amercader commented on #66
BTW we only added the users that already existed in the CKAN DB, which are
- None None (I assume that's the superadmin you mention)
- Editor GCC2

If you log in with another one we will need to add this manually to the org.

[2014-06-23 12:58] Nithyavasudevan commented on #66
What is the userid for this None None?

The id i used is SuperAdmin1@GCCCTPECADINT.onmicrosoft.com

[2014-06-23 12:59] amercader commented on #59
Some of the missing ones are caused by the validation failing in the harvesting process, specifically an inconsistency in how the file URLs are defined in the EC API (`ExternalFileUrl` vs `ExternalUrl`). Some others seem to be actually missing, so we need to investigate.

[2014-06-23 12:59] Nithyavasudevan commented on #64
I guess we need to think about how to log a user off the platform.

[2014-06-23 13:22] amercader commented on #65
We'll look into this as part of #59

[2014-06-23 13:25] seanh commented on #64
Imo this is a usability issue with the WAAD OAuth 2.0 server.

If you're using the Mozilla Persona single-sign-on system for example, when you click the "Sign in with Persona" button on a site it visibly takes the user to the Mozilla Persona site and shows them that they're signing in to their Persona account, and gives them a chance to sign out or sign in to a different Persona account.

(See the

[2014-06-23 13:34] amercader commented on #68
OK, I think the configuration is now properly set up in the integration server. You will need to log off and restart the browser to be able to login again in the WAAD server.

When testing with the "Editor GCC2" user (I don't have the credentials for the superadmin one) I get this, which is a 500 error on the EC API:

![screenshot from 2014-06-23 14 31 42](https://cloud.githubusercontent.com/asset

[2014-06-23 14:36] Nithyavasudevan commented on #57
Happy to close based on message from Adria that some validation does happen when harvesting data from the platform.

[2014-06-23 14:36] #57 closed, assigned to adamamyl

[2014-06-23 14:39] Nithyavasudevan commented on #61
This isn't datasets though. This is the organisations screen and we specifically had this as a requirement after we discussed.

[2014-06-23 15:24] Nithyavasudevan opened #70 "Anonymous user able to navigate all the way to add file page"
1. Open the home page in "InPrivate Browsing" mode and navigate to datasets page
   2, Click on a dataset
2. The "why not add some?" link is visible allowing an anonymous user to navigate to file upload page.
   ![image](https://cloud.githubusercontent.com/assets/7315913/3359610/2cdf8076-faea-11e3-8953-bf160de0580a.png)

This could be because user roles are not available yet? Still wanted to make

[2014-06-23 15:29] joetsoi commented on #59
datasets with the same name can cause a validation error it seems, we can attach the org id and/or dataset id to the dataset name for the url.

If microsoft had really long org ids we'd run into trouble again, perhaps we should just use the package id ckan generates in these cases

[2014-06-23 15:47] Nithyavasudevan commented on #59
Org ID's will be guid in Iteration 3 on the platform. Dataset titles within an organisation should be unique. No unique check is required across organisations if that makes sense?

[2014-06-23 16:33] Nithyavasudevan opened #71 "Unable to upload file using IE"
1. Logged into IE in "InPrivate Browsing" as Editor GCC2
2. Navigated to "Test Dataset" dataset page and uploaded a file.
3. Got the following error message. The same works in Google Chrome

![image](https://cloud.githubusercontent.com/assets/7315913/3360548/008f5f00-faf4-11e3-8431-9636bca67c08.png)

[2014-06-24 08:59] Nithyavasudevan opened #72 "Order by filter on Organisations page gets cleared on page navigation"
1. NAvigate to https://ckanfrontend.cloudapp.net/organization
2. Change Order by to Name Descending
3. Note that the sorting has changed to descending order
4. Scroll down and click on Page 5 which is the last page
5. Note that the sort order has changed to Name AScending.

![image](https://cloud.githubusercontent.com/assets/7315913/3369179/aea442d4-fb7d-11e3-83f3-1a1e3bf8365c.png)

[2014-06-24 09:05] amercader opened #73 "Harvest extension config files don't get deployed on Ansible script"
[This](https://github.com/okfn/ckanext-glasgow/blob/master/deployment/roles/ckanext-harvest/tasks/main.yml#L21:L26) does not seem to work

@nigelbabu can you have a look

[2014-06-24 09:05] #46 closed, assigned to nobody

[2014-06-24 09:07] amercader commented on #71
Does creating a dataset work fine in IE?

Just to make sure it is not an auth related issue.

[2014-06-24 09:09] adamamyl commented on #46
One thing to bear in mind is that eventually, each API will have its own hostname, not be served over ports; I don't know if we want to parameterize things or not.

[2014-06-24 09:11] amercader commented on #46
The full hostname + port is parametrized for write (Data Ingestion) and read (Metadata) API endpoints. We can add more if needed.

[2014-06-24 09:46] Nithyavasudevan commented on #71
yes. i sent you some error messages on skype.

[2014-06-24 09:51] joetsoi commented on #59
I've added the id of the org onto the end of a dataset, so names don't clash. There will be a problem if the org ids are long (more than 100 characters) as we use the dataset name part of the url in ckan. We can probably just get away with upping the number of characters in the validator.

[2014-06-24 13:28] Nithyavasudevan opened #74 "Unable to view files in a dataset"
1. Navigate to https://ckanfrontend.cloudapp.net/organization/glasgow-city-council
2. Click on 'Test Dataset'.
3. As per the platform this dataset has 5 files.
   FileID's are
   13a51e51-f3f5-423d-be07-0eef33589c38
   7229b57d-bf0a-4a8b-be66-8671cdfbbac7
   657d4b5f-d07a-44a3-8c36-9cdc4a9663f8
   3632366f-8ee8-464e-908c-e3a31e1e1769
   d2a07a66-4600-44cf-bb5f-f2ebc7f8a79e
4. Note that it says no

[2014-06-24 14:01] amercader commented on #74
@joetsoi can you have a look at the initial harvester to see if the files are working as expected? I pushed some changes yesterday that might have broke things.

We can run a `paster harvester import` when fixed to get the files back without having to reharvest.

[2014-06-25 11:41] Nithyavasudevan opened #75 "Sort Descending doesn't seem to be handle long titles"
1. Navigate to https://ckanfrontend.cloudapp.net/dataset
2. Order by Name Descending
3. Note that title beginning with 'n' of length 255 characters appears before

![image](https://cloud.githubusercontent.com/assets/7315913/3384624/9687c1fe-fc5d-11e3-817c-da39cf48702d.png)

[2014-06-25 16:06] amercader commented on #75
This is caused by the first letter of the dataset name being lower case. CKAN will order lower case first / upper case last. As titles will likely be properly capitalized and this would need to be changed on CKAN core so I'd suggest ignoring it for the time being.

[2014-06-25 16:08] amercader commented on #60
This is bug in CKAN core. Until it doesn't get fixed and backported we will add the fix to the extension.

https://github.com/ckan/ckan/pull/1791

[2014-06-25 16:10] Nithyavasudevan commented on #75
This doesn't impact my testing but i guess we would need to understand if this is something that is going to get fixed..

[2014-06-25 16:11] Nithyavasudevan commented on #60
thanks.. let me know once this is done so i can retest..

[2014-06-26 06:51] nigelbabu commented on #73
This is because the files associated with a role needs to go into the role's files directory.

[2014-06-26 11:41] Nithyavasudevan opened #76 "File upload screen has no option to enter a file name"
When trying to upload a file on to a dataset, there is no option to give a name for the file being uploaded. CKAN passes the name of the file on the disk to the FileName key. We would need an option on the screen where there is a File Name field (which would default to the file name on the disk) but would let the user change the File Name.

[2014-06-26 11:57] adamamyl commented on #76
I can't think of any upload service on the web that lets people change the filename once it's uploaded.

I think this is a social/institutional issue, not a technical one, but happy to discuss.

[2014-06-26 12:10] Nithyavasudevan opened #77 "Creation Date on File upload screen seems to send a default value to the platform when left empty"
Uploaded a file from the file upload screen and entered only the mandatory values. Creation Date is an optional field and I left it empty. However, after ingestion when I checked on the platform, it seems to have added the value 2014-01-01T00:00:00

![image](https://cloud.githubusercontent.com/assets/7315913/3398137/cebe0dd0-fd2a-11e3-93ec-49cf42aab522.png)

[2014-06-26 12:26] Nithyavasudevan commented on #76
Discussed with SLP. This is required although not high priority..

[2014-06-26 12:28] amercader commented on #74
Sorry, got automatically closed by the commit message

[2014-06-26 12:28] Nithyavasudevan commented on #74
is this ready for a test?

[2014-06-26 12:32] amercader commented on #74
Not yet, we'll let you know

[2014-06-26 12:32] Nithyavasudevan commented on #74
ah.. ok.. :)

[2014-06-26 14:04] Nithyavasudevan opened #78 "Description field lengths don't match between the platform and CKAN"
In the file upload screen, description value takes only 4000 characters. On the platform, the field length is 64000 characters.
So this will need to be changed.

[2014-06-26 14:10] amercader commented on #74
This is now deployed on sandbox and it did fix the files not showing up:

https://okfsandboxfe.cloudapp.net/dataset/test-dataset-2

[2014-06-26 14:17] amercader commented on #59
Sandbox now displays the correct number of datasets (83 as of now on the platform).

https://okfsandboxfe.cloudapp.net/dataset

[2014-06-26 14:20] amercader commented on #66
Logging in as a superadmin now displays all organizations in the New Datasets Organization field:

https://ckanfrontend.cloudapp.net/dataset/new

[2014-06-26 14:21] amercader commented on #71
Just for reference, this is caused by spaces in the file name, not IE per se

[2014-06-26 15:04] Nithyavasudevan opened #79 "Unable to upload file without a page refresh after removing an uploaded file"
1. Go to https://ckanfrontend.cloudapp.net/dataset/new_resource/aut-ut-ut-aut-dolorum-est
2. Click on Upload and upload a file
3. Once uploaded click on remove and file is removed
4. Click on upload again and try to upload a file. Doesn't let us unless the page is refreshed.

[2014-06-26 15:06] Nithyavasudevan commented on #74
Will wait until it gets deployed to Integration.

[2014-06-26 15:09] Nithyavasudevan commented on #71
Filenames without space don't work from IE either.

[2014-06-26 15:16] Nithyavasudevan commented on #66
I can now see the values in the dropdown, but it still needs to be marked as a mandatory field and it should not default a value. The user should consciously select a value.

[2014-06-26 16:09] #5 closed, assigned to adamamyl

[2014-06-26 16:09] #4 closed, assigned to adamamyl

[2014-06-26 16:09] #8 closed, assigned to nobody

[2014-06-26 16:09] #2 closed, assigned to adamamyl

[2014-06-26 17:27] seanh commented on #53
So if I understand this right, the request is not to automatically create the same user account on The Platform when a new user signs up in CKAN, but instead to add a new "Create users on The Platform" page to CKAN, where CKAN sysadmins and organization admins can create new user accounts on The Platform? And presumably these new accounts should be created in CKAN at the same time as well?

If I'v

[2014-06-26 17:35] seanh commented on #54
Ok, what I suggest for this is that we integrate it into the user profile editing page in CKAN. I think it's already the case in CKAN that normal users can only update their own accounts, while sysadmins can update any user's account (if they type the edit URL for that user's account profile into their location bar manually).

Does receiving a 200 OK and a request ID from The Platform mean the use

[2014-06-26 17:45] seanh commented on #56
So the feature is to add a page to CKAN, visible to sysadmins only, that calls this ChangeLog URL of the Metadata Services API and displays all the items that it gets back? Presumably "EC Audit activities" are the "successful audit records" that the ChangeLog URL from MS user story 1305 returns?

What does "processing" the EC Audit activity mean?

Also what's the HostUrl that I can use to test the

[2014-06-26 17:46] adamamyl commented on #53
'Ordinary' (non municipal) users (datageeks, activists, journos, etc) should be able to create their own account to interact with data on the data.glasgow.gov.uk platform.

This should replace the 'normal' CKAN 'register' page (hitting the EC API that's detailed in the user story, and in the functional spec), so the user's created there (WAAD (username + password) & Identity Services (all other st

[2014-06-26 17:50] seanh commented on #12
The WAAD authentication server doesn't return any info about what organization the user is associated with, their level in that org, or their email address. @adamamyl do we have a separate ticket for that part?

I need clarification about this:

What is the supplementary database of Identity Services? And what ancillary information should we pull from it?

Apart from those two points, I think this

[2014-06-26 18:02] adamamyl commented on #53
A member user, means (unless I'm corrected), an ordinary user -- one who is not a member of an organization.

Yes.

Whatever you feel is the right action ;o) There's not much point storing it anywhere, unless there's a need to do this for CKAN's internal stuff.

There's a concept that the EC will be used by multiple services, usually just hitting the read-only no-auth-needed APIs. There's also the

[2014-06-26 18:20] adamamyl commented on #12
All info that's not username/password is via the Identity Services database/API -- there's not a separate ticket per se.

In terms of ancillary info, I think it makes sense to grab:
- [ ] UserID (which should be unique)
- [ ] Name (concatenate both fields from the EC's first/last name fields) (= 'name' in ckan's user DB table?)
- [ ] Email address
- [ ] About blurb
- [ ] Associated Organization (i

[2014-06-26 18:25] adamamyl commented on #55
Essentially, for CKAN implementation, hit the EC's Identity Services API to set/change/remove organization members

[2014-06-26 18:32] adamamyl commented on #54
Yes, a 200 means the request (should have) worked. The request ID is largely used for the audit logs in the EC.

Indeed. It's also contrary to the [Government Service Design Manual](https://www.gov.uk/service-manual/user-centred-design/resources/patterns/names.html), but unfortunately, it's what is required of us.

I can only see a need to split names on the
- register, and
- update

forms.

In th

[2014-06-26 18:35] adamamyl commented on #54
Agree.

[2014-06-26 18:48] adamamyl commented on #56
Yeap.

Extract, Transform, Load / Get from the EC and stuff it somewhere CKAN can make sense of/use. It may be worth noting that the EC will not store all logs over a period of time, and that there will be (on the EC) some clear out -- at least in the current design.

[The Functional Spec](https://docs.google.com/a/okfn.org/document/d/1fBMkQV1Fj_07M-Rg-MqafTnQQLXlkVHxpSyONeDARkQ/edit#heading=h.2pt

[2014-06-26 20:10] Nithyavasudevan commented on #44
Happy with unique check.

[2014-06-26 20:10] #44 closed, assigned to adamamyl

[2014-06-26 20:21] Nithyavasudevan commented on #63
this works fine now

[2014-06-26 20:21] #63 closed, assigned to adamamyl

[2014-06-26 20:28] Nithyavasudevan commented on #68
seems to work now

[2014-06-26 20:28] #68 closed, assigned to adamamyl

[2014-06-26 20:28] Nithyavasudevan commented on #69
able to upload now

[2014-06-26 20:28] #69 closed, assigned to adamamyl

[2014-06-27 12:02] adamamyl opened #80 "Harvest every 30mins"
Can we schedule the harvester(s) to run every 30 minutes in the Integration environment only -- to pull information about organizations, datasets, metadata, files etc.

[2014-06-27 12:04] Nithyavasudevan commented on #80
yes.. fine by me..

[2014-06-27 12:06] adamamyl commented on #80
(I created this task based on the issue logged in the Action Log)

[2014-06-27 13:29] amercader commented on #80
Hourly is the lowest that you can schedule in the harvest extension.

One important thing to note is that the harvester in its current form is only meant to provide an initial snapshot of the existing orgs, datasets and files on the platform, not to keep track of changes. This would be done at a latter stage, using the Platform Change Log endpoints (or upgrading this one to the new requirements).

[2014-06-27 14:34] adamamyl commented on #74
@Nithyavasudevan https://ckanfrontend.cloudapp.net/dataset/ut-blanditiis-corrupti-quo-20 is ready for you.

[2014-06-27 14:35] adamamyl commented on #74
:thumbsup: @amercader

[2014-06-30 10:22] #26 closed, assigned to nobody

[2014-06-30 10:22] #27 closed, assigned to nobody

[2014-06-30 10:22] #28 closed, assigned to nobody

[2014-06-30 10:25] nickstenning commented on #14
Signed off.

[2014-06-30 10:25] #14 closed, assigned to nobody

[2014-06-30 10:52] nickstenning opened #81 "Document ansible deployment scripts"
A hangover from the larger issue (#20), we need some basic instructions on how to use the ansible deployment scripts.

Assigning @nigelbabu.

[2014-06-30 10:53] nickstenning commented on #20
Closing #20. Remaining work in #81 in new iteration.

[2014-06-30 10:53] #20 closed, assigned to nobody

[2014-06-30 10:55] nickstenning commented on #45
Done.

[2014-06-30 10:55] #45 closed, assigned to joetsoi

[2014-06-30 10:55] nickstenning commented on #29
Pending signoff by @Nithyavasudevan, this can be closed.

[2014-06-30 10:56] amercader commented on #15
This is now done. Request Ids (and other relevant data for each request) is stored internally in the TaskStatus table, and the relevant functions to query it are in place.

[2014-06-30 10:56] #15 closed, assigned to nobody

[2014-06-30 10:57] amercader commented on #16
The functionality for sending files to the EC API is now in place.

[2014-06-30 10:57] #16 closed, assigned to nobody

[2014-06-30 11:10] seanh commented on #12
This isn't finished yet, login works but as I understand it we still need to grab the user's organization, role, email address and other info from the Services API.

[2014-06-30 11:14] Nithyavasudevan commented on #29
Able to see files in the dataset. Since versioning hasn't yet been delivered, can't check that it does display the latest version. But happy to test that with I3 user stories.

[2014-06-30 11:14] #29 closed, assigned to nobody

[2014-06-30 11:36] seanh opened #82 "Pull in user metadata from the Identity Services API"
See original requirements in this ticket: https://github.com/okfn/ckanext-glasgow/issues/12
- The organization that the user's account is associated with
- The level that the user has within that organization
- The user's email address
- Other metadata, see https://github.com/okfn/ckanext-glasgow/issues/12#issuecomment-47260547

[2014-06-30 11:36] seanh commented on #12
Closing this, moved remaining requirements into this ticket: https://github.com/okfn/ckanext-glasgow/issues/82

[2014-06-30 11:36] #12 closed, assigned to seanh

[2014-06-30 11:55] amercader commented on #38
Fixed, see https://okfsandboxfe.cloudapp.net/dataset/cumque-tenetur-dolores-saepe-harum-omnis-quidem-dolores-20

[2014-06-30 12:02] amercader commented on #65
The extra one in the homepage is the harvest source dataset. We can fix this if needed when the design for the home page is agreed.

[2014-06-30 12:14] amercader commented on #66
Org field flagged as mandatory, not selected by default (except when user belongs to only one organization).
Deployed to sandbox.

[2014-06-30 12:20] amercader commented on #76
This feels like a separate user story / feature to me, not a bug.
In any case, we need to clarify how exactly are file names defined using the api. Up until now it appeared to be the `filename` header, but latest version of the API docs mention a `FileName` parameter supported.

[2014-06-30 12:23] amercader commented on #78
I assumed that to be a typo, as the description of the datasets has a max value of 4000. We can set it to 64k, of course, but it hard to think of sane use case for adding a description so long to a file.

[2014-06-30 12:25] amercader commented on #79
Can you clarify on step 2 to 3? Do you actually submit the form between these steps?

[2014-06-30 12:29] amercader commented on #43
Closing as it doesn't seem to be a defect. Feel free to reopen if you think otherwise.

[2014-06-30 12:29] Nithyavasudevan commented on #79
Form is not submitted between 2 & 3. If form had been submitted, it would have navigated away from this page..

[2014-06-30 12:30] Nithyavasudevan commented on #78
It isn't a typo.. It is 64k on the platform

[2014-06-30 12:30] amercader commented on #75
Fixing (or changing the default behaviour rather) would imply significant work as we will need to tweak the default Solr indexing, querying. Closing for now.

[2014-06-30 12:31] Nithyavasudevan commented on #43
Fine.

[2014-06-30 12:31] #43 closed, assigned to adamamyl

[2014-06-30 12:32] Nithyavasudevan commented on #75
This will need to be checked with SLP to see if this needs fixed at some point.

[2014-06-30 13:03] Nithyavasudevan commented on #74
This has been retested and is now working.

[2014-06-30 13:03] #74 closed, assigned to adamamyl

[2014-06-30 13:06] Nithyavasudevan commented on #76
Not sure if this helps, but Filename has always been a mandatory field for the API on the platform since I1.

[2014-06-30 23:14] joetsoi commented on #30
I've added some screenshots as the versions api doesn't seem to be working on the platform. I took these by mocking the platform api

There's a additional action when clicking on the 'Explore' resource button
![pkg_show_list](https://cloud.githubusercontent.com/assets/241130/3437236/871ca39e-00ac-11e4-82df-cf6b0fd01648.png)
Which will take you to this page listing the revisions down the side of th

[2014-07-01 08:42] amercader commented on #42
Fixed and deployed to sandbox

[2014-07-01 11:23] Nithyavasudevan commented on #30
@joetsoi - Not sure if this helps, but versions api on the platform seems to be working for me. I tested it using the api test tool. A search for all files in a dataset seems to fetch the latest versions of files..

[2014-07-01 12:36] joetsoi commented on #30
good to know, looks like the docs I was given were wrong. The version ending point is

Metadata/Organisation/<dataset_id>/Dataset/<datasetId>/File/<file_id>/Versions
not
Metadata/Organisation/<dataset_id>/Dataset/<datasetId>/File/<file_id>/Version

which was giving me 500 errors, so I thought the endpoint was broken

[2014-07-01 12:41] Nithyavasudevan commented on #30
:+1: any more issues, do ping me and i can try and help..

[2014-07-02 10:02] nickstenning commented on #34
Complete. Signed off by @Nithyavasudevan.

[2014-07-02 10:02] #34 closed, assigned to nobody

[2014-07-03 11:03] nickstenning commented on #80
Is there any remaining work to do here? If the smallest interval is 1h, let's set it to that and be done with it.

_Big proviso: I have no idea what the requirements are here, I'm just keen that we close noise tickets_

[2014-07-03 11:26] Nithyavasudevan commented on #80
I would suggest not spending any more time on this as this will get replaced once we have changelog in place on the platform (which is Iteration3)

_Just my thoughts_

[2014-07-03 11:53] amercader commented on #80
Turns out I was wrong and daily is the lowest the harvest extension will accept. I've created an issue there to add the Hourly option (ckan/ckanext-harvest#98).

In the meantime it is set to daily, and harvests can be triggered manually.

[2014-07-03 11:53] #80 closed, assigned to joetsoi

[2014-07-03 12:19] stevenlivz commented on #80
Is this for general sync? I think that would need to be 15 mins or so - or an approach that would allow triggering at a custom threshold. Should discuss.

[2014-07-03 12:21] stevenlivz commented on #80
Never mind - Nithya talked with me.

[2014-07-04 10:08] seanh commented on #54
What is NFR #891?

[2014-07-04 10:11] Nithyavasudevan commented on #54
@seanh
All publicly visible HTTP REST APIs should follow behaviours specified:
APIs, which require authentication and specific permissions, should check if the caller is authenticated and has required permission before the APIs logic is executed.
APIs, which require the request body to have certain structure (e.g. JSON format, required fields, etc.), should validate the request body before the API

[2014-07-04 14:45] amercader commented on #73
@nigelbabu did you get round to do this? If so can you push it please? Thanks

[2014-07-04 15:20] nigelbabu commented on #73
It worked for me on a different server without any changes. I'll merge the
config of the server into the repo and try a push tomorrow.

Nigel Babu
Developer, Open Knowledge

On 4 July 2014 20:15, Adrià Mercader notifications@github.com wrote:

[2014-07-07 11:14] seanh commented on #82
Looking at the [Functional Specification v0.1](https://docs.google.com/a/okfn.org/document/d/1fBMkQV1Fj_07M-Rg-MqafTnQQLXlkVHxpSyONeDARkQ/edit?usp=drive_web) (page 85), the Read User Account method of the Identity Service Identity API requires an `<organisationId>` as part of the URL:

[code]

But after our [ckanext-oauth2waad plugin](https://github.com/ckan/ckanext-oauth2waad) has logged the user

[2014-07-07 12:04] seanh commented on #82
@nickstenning This is blocked now I think, I have asked about it on Yammer

[2014-07-07 21:05] nickstenning commented on #52
This story now includes the following item: when creating an organisation there should be a "dataset edits require approval" checkbox, which is used to pass on a boolean (`NeedsApproval, boolean (true/false), required`) to the Create Organisation API.

[2014-07-07 21:12] nickstenning opened #83 "As SuperAdmin/Organisation Admin, I should be able to initiate update of an organisation"
As a SuperAdmin or Org Admin, I should be able to update the organisation, and the result should be a call to the platform API:

[code]

 The body of the request should contain the following properties:
- Name (string, required, 2-500 characters)
- About (string, optional, max 4000 characters)
- NeedsApproval, boolean (true/false), required

The description (`About`) is expected to be in markdown

[2014-07-07 21:20] nickstenning opened #84 "As a publisher, I want to be able to provide custom metadata for files, so that I can enrich file metadata with custom fields"
An amendment to the UI and payload associated with resource creation.

The UI should allow the creation of arbitrary key-value metadata associated with a specific resource, _in addition to_ the fields defined in the extras schema. The extras data should be passed to the "platform API" according to the following specification:

## Accept criteria
- [ ] Custom metadata are created for the file and a

[2014-07-07 21:22] nickstenning opened #85 "As a publisher, I want to be able to provide custom metadata for datasets, so that I can enrich dataset metadata with custom fields"
An amendment to the UI and payload associated with dataset creation.

The UI should allow the creation of arbitrary key-value metadata associated with a specific dataset, in addition to the fields defined in the extras schema. The extras data should be passed to the "platform API" according to the following specification:

## Accept criteria
- [ ] Custom metadata are created for the dataset and am

[2014-07-07 21:25] nickstenning commented on #32
After discussion with Stuart and co in Glasgow, my current understanding is that new "versions" are not created automatically when a resource is edited. This should probably be a "create new" version button that is visible only on the "view all versions" page.

To rephrase, this story is about an explicit "create a new version" feature.

[2014-07-08 09:06] amercader commented on #73
This works as expected, sorry for the confusion

[2014-07-08 09:06] #73 closed, assigned to nigelbabu

[2014-07-08 09:40] Nithyavasudevan commented on #82
@seanh Do you have the info that you wanted please?

[2014-07-08 09:49] nickstenning commented on #56
To clarify:
- The important part here is worker process (probably run in a cron job or as a daemon) which runs through unseen items in the changelog and applies the described changes to the CKAN database
- There is _no_ requirement for UI
- How much of the changelog does the worker need to process? A simple rule: if we know how to make a request to the platform for a particular kind of change (dat

[2014-07-08 09:52] nickstenning commented on #50
@joetsoi has run in to some issues with authentication against the platform API here. Not demoed today.

[2014-07-08 09:53] nickstenning commented on #48
Demoed today.

[2014-07-08 09:53] nickstenning commented on #47
Demoed today.

[2014-07-08 09:54] nickstenning commented on #35
Demoed today.

[2014-07-08 09:54] nickstenning commented on #33
Demoed today.

[2014-07-08 09:55] nickstenning commented on #31
Demoed today.

[2014-07-08 09:55] nickstenning commented on #30
Demoed today.

[2014-07-08 10:19] amercader commented on #56
_Implementation proposal_

Reuse harvesting framework. Even if it is generally used just for datasets, nothing prevents us from handling other objects at the `import_stage`, and we get the Redis queue, persistence of remote objects in the DB, error handling, etc for free.

**Requirement**: Implement [Service to Service](http://msdn.microsoft.com/en-us/library/azure/dn645543.aspx) authorization on

[2014-07-08 10:34] nickstenning commented on #56
What does reusing the harvest framework imply for the frequency at which updates are pulled in? Ideally this would be running every few minutes (or even every minute).

[2014-07-08 10:37] amercader commented on #56
We can write a small wrapper function around the one used by the harvesting extension that will run the thing every X minutes.

[2014-07-08 10:38] nickstenning commented on #56
In which case, this sounds eminently sensible to me.

[2014-07-08 12:57] seanh commented on #82
@Nithyavasudevan Yes:

[2014-07-16 07:54] adamamyl commented on #54
This user story needs a clarification, as, as far as I understand things, 'ordinary' users will not be using WAAD (down to cost), but should still be created.

Can Glasgow please confirm that for ordinary users (citizens, etc), user accounts will not be created in WAAD/Identity Services, but that they should live in CKAN? @stevenlivz, maybe?

[2014-07-16 07:57] adamamyl commented on #55
https://github.com/okfn/ckanext-glasgow/issues/54#issuecomment-49134294 may be of relevance here, though this is largely going to be EC based -- except, maybe when a user is removed from an organization, and becomes a member (edge case scenario?)

[2014-07-18 09:07] adamamyl commented on #32
Ready for testing.

[2014-07-18 09:12] adamamyl commented on #53
@adamamyl to seek clarification with @stevenlivz on this issue.

[2014-07-18 09:31] adamamyl commented on #82
New Functional Spec: https://www.yammer.com/api/v1/uploaded_files/21148104/download

[2014-07-18 10:00] adamamyl commented on #50
Ready for Testing.

[2014-07-21 10:32] adamamyl commented on #53
https://www.yammer.com/futurecitiesdemonstrator/#/Threads/show?threadId=420313501

[2014-07-21 10:34] adamamyl commented on #50
@Nithyavasudevan if you visit https://okfsandboxfe.cloudapp.net/dataset/test2finalds-5fac (as a logged in EC user) you'll see the 'Pending Resources' section.

Changing the URI to match a known request, will return that, too (organization etc).

[2014-07-21 10:46] joetsoi commented on #50
The url for any given request is https://okfsandboxfe.cloudapp.net/request/<request_id> which will show the history of of that request.

[2014-07-23 09:35] adamamyl commented on #53
PEBKAC. This issue is essentially to allow Org Admins / Admins to create WAAD users, via a form in CKAN.

[2014-07-23 09:51] joetsoi commented on #51
dataset metadata updates in 39dc5ea7df7c211ca713c7bece956bbc9d79417d

[2014-07-23 09:53] joetsoi commented on #32
file request updates in 50ce0cb18cfa0f72a49aa7a29881f8f5481135d2

[2014-07-24 17:36] adamamyl commented on #30
I3 Test Cases: Pass.

[2014-07-24 17:36] #30 closed, assigned to joetsoi

[2014-07-24 17:37] adamamyl commented on #31
I3 Test Cases: Pass.

[2014-07-24 17:37] #31 closed, assigned to joetsoi

[2014-07-24 17:37] adamamyl commented on #33
I3 Test Cases: Pass.

[2014-07-24 17:37] #33 closed, assigned to nobody

[2014-07-24 17:38] adamamyl commented on #35
I3 Test Cases: Pass.

[2014-07-24 17:38] #35 closed, assigned to nobody

[2014-07-24 17:39] adamamyl commented on #47
I3 Test Cases: Pass.

[2014-07-24 17:39] #47 closed, assigned to amercader

[2014-07-24 17:39] adamamyl commented on #48
I3 Test Cases: Pass.

[2014-07-24 17:39] #48 closed, assigned to joetsoi

[2014-07-24 17:40] adamamyl commented on #59
Ready to close?

[2014-07-31 20:33] adamamyl opened #87 "As a SuperAdmin/Organisation Editor/Admin, I want to be able to initiate update of a file in a dataset (content and predefined metadata), so that I can replace an existing version of the file"
## Microsoft API:

The Data Collection API for file version update will have this signature:

[code]

The body may contain the following predefined metadata (optional and mandatory):
- Title: string (required, max 255 chars);
- Filename: string (required, max 255 chars) &#8212; Must conform to standard file name conventions and is url encoded and is not case sensitive; Validation regex: `^[^\p{Cc}

[2014-07-31 20:41] adamamyl opened #88 "US 9.1.16 As an Authenticated user, I want to be able to get user information, so I can see user's profiles"
## Microsoft API

Identity service should expose the following HTTP REST API:

[code]

The successful response should contain the following profile information
- UserName - string, the name of the user
- UserId - string (GUID), internal user's identifier
- OrganisationId String (GUID) Id of the users organisation
- Email - string
- First Name - string
- Last Name - string
- Display Name - string
-

[2014-07-31 20:43] adamamyl opened #89 "US R7.1.2.2 As a SuperAdmin/Organisation Admin, while updating a dataset I want to be able to set if operations on this dataset and its files require approval, so I can control dataset creation process"
This is an amendment to MS user stories:
- Update Dataset API (US #92)
- Update Dataset workflow (US #622)
## Changes
### Update Dataset API (US #92)

The JSON body of the API should contain additional metadata property:
- NeedsApproval, boolean (true/false), optional (if not set the value for this property is not meant to be changed)

If Organisation Editor sets a value for NeedsApproval, it is i

[2014-08-04 09:49] adamamyl opened #90 "As a SuperAdmin/Organisation Editor/Admin, I want to be able to initiate update of a file in a dataset (content and predefined metadata), so that I can replace the latest version of the file"
## Microsoft API

The Data Collection API for file version update will have this signature:

[code]

The body may contain the following predefined metadata (optional and mandatory):
- Title: string (required, max 255 chars) Filename: string (required, max 255 chars) &#8212; Must conform to standard file name conventions and is url encoded and is not case sensitive (Validation regex: `^[^\p{Cc}<>:"

[2014-08-04 09:57] adamamyl opened #91 "As a SuperAdmin/Organisation Admin, I want to be able to view files and datasets awaiting my approval, so I can approve or reject the operation"
## Microsoft API

The data collection service should expose the following REST API:

`GET https://<HostURL>/Approval?<paging parameters>`

`<paging and sort parameters>` are:
- $top - the size of page to return. &#8212; If parameter is omitted, the default value is 100. Minimum page size is 1 and maximum page size is 100. If the user specifies value outside this range, it is treated as if they've

[2014-08-04 10:00] adamamyl commented on #91
UI note:
- give those authorized to view this list (in CKAN), an ability to batch select items
- probably need some magic to translate IDs to names, especially on user, org, file, dataset

[2014-08-04 10:05] adamamyl opened #92 "US R9.2.1.3 As a SuperAdmin/OrganisationAdmin, I want to be able to download file content awaiting my approval, so I can view the file being published"
## Microsoft API

The data collection service should expose the following REST API:

`GET https://<HostURL>/Approval/<requestId>/download`

The successful response should stream the content of the file awaiting approval. Content-disposition header should be set, so that the suggested name of the downloaded file matches the file name.
## Permissions

This API is accessible by authenticated users on

[2014-08-04 11:29] adamamyl opened #93 "US R9.2.1.2 As a SuperAdmin/Organisation Admin, I want to be able to approve/reject an operation on a dataset or file, so that the operation is executed or cancelled"
## Microsoft API

The Data Collection Service should expose the following HTTP REST API:

`POST https://<HostURL>/Approval/<requestid>/(Accept|Reject)`

No body is expected.

The successful response will contain HTTP status code 200.
## Scenarios
### Approval/rejection by SuperAdmin

Given:
- I'm  a SuperAdmin,
- Operation with request ID ""X"" is pending approval,

When I approve/reject an operat

[2014-08-04 11:30] adamamyl commented on #91
The approval/rejection action/API itself is defined in #93

[2014-08-04 11:45] adamamyl opened #94 "US 1.2.5 As a SuperAdmin, Organisation Admin/Editor, I want to be able to initiate deletion of a specific version of a file, so I can remove it from the dataset."
##  Microsoft API

Data Collection service will expose an HTTP REST API for file version deletion:

[code]

The successful response will contain a unique Request ID.

Only authenticated users can call this API:
- Organisation Admin/Editor can remove file versions from datasets from their organisation
- SuperAdmin can remove file versions form datasets from any organisation
## Scenarios
### Success

[2014-08-04 11:47] adamamyl commented on #55
This user story relates to EC users.

[2014-08-04 11:49] adamamyl commented on #54
This is to update user profiles.

**Complication**: we'll be having mixed users (EC _and_ CKAN). We need to do user changes for EC users via the Identity Services / Metadata API, and changes for CKAN users in CKAN.

[2014-08-04 11:54] Nithyavasudevan opened #95 "Unable to update dataset metadata as Org Editor"
1.  Logged into CKAN as I4Editor2@gccctpecadint.onmicrosoft.com
2. Opened dataset with title "First Dataset"
3. Clicked on "Manage"
4. Updated tag metadata to add value "tags"
5. Clicked on Update Dataset.
6. Got internal SErver error
   ![image](https://cloud.githubusercontent.com/assets/7315913/3796608/8229b594-1bcc-11e4-99ea-38d278f18352.png)
7. This dataset needs no approval either.
8. Same er

[2014-08-04 12:34] Nithyavasudevan opened #96 "Unable to update organisation as Org Admin"
1. Logged into ckan as i4admin@gccctpecadint.onmicrosoft.com
2. I4 Acceptance is the organisation i am an admin for
3. Went to organisation page
   https://ckanfrontend.cloudapp.net/organization/i4-acceptance
4. No link to actually update organisation.
   ![image](https://cloud.githubusercontent.com/assets/7315913/3797058/5338606c-1bd3-11e4-91fa-11c7d7134d98.png)

[2014-08-04 13:42] adamamyl commented on #96
There are two 'Nithya Srinivas' users -- one's an editor, one's an org-admin. Could you check which Nithya Srinivas this happens under?

[2014-08-05 10:09] Nithyavasudevan commented on #96
Update organisation is possible only by Superadmins and Org Admin.. Editors cannot update organisations..

[2014-08-05 11:36] Nithyavasudevan opened #97 "Sorting of organisations by Name Asc seems incorrect"
Logged into CKAN and went to the Organisations page.
Changed the Order by to Name Ascending
But the order doesn't seem to be sorting right. There is "Org Local" followed by "Microsoft" followed by "Org from Staging (updated)".

![image](https://cloud.githubusercontent.com/assets/7315913/3810750/c51fb524-1c94-11e4-9841-b55b2c529d55.png)

[2014-08-05 13:49] Nithyavasudevan opened #98 "Screen refresh not accurate after a dataset is created"
1. Created a dataset called Screen Refresh. The first three screens below are what appear automatically without any manual refresh. Note that Screen 1 does not have in progress audit details

![image](https://cloud.githubusercontent.com/assets/7315913/3811814/b20d1724-1ca3-11e4-9454-d30566bb86ae.png)

![image](https://cloud.githubusercontent.com/assets/7315913/3811839/f54b9f88-1ca3-11e4-9ed6-7dada

[2014-08-05 13:59] Nithyavasudevan opened #99 "Uploaded file name in file upload screen"
While uploading a file on to a dataset, the uploaded file doesn't get displayed on the screen making it difficult to know if the right file got selected during upload.

![image](https://cloud.githubusercontent.com/assets/7315913/3812279/7e71108c-1ca8-11e4-87de-1406394a0492.png)

[2014-08-05 14:35] joetsoi commented on #95
Relevant logs

[code]

For whatever reason the owner_org was not submitted to the server, I can adjust the default validator so a validation error is thrown which is a bit more graceful, but I'm concered about how it could occur at all

I do not this is not an approval issue, the server hasn't even got to the point of sending the request yet

[2014-08-05 14:43] adamamyl commented on #95
@joetsoi is this CKAN side or EC?

(where you talk of 'submitted to the server', I'm guessing what CKAN's passing to the CTPEC?)

[2014-08-05 14:51] joetsoi commented on #95
@adamamyl it's the POST variables in the request that was sent from Nithya's browser to the ckan.

[2014-08-06 11:19] joetsoi commented on #55
unassignment of users currently makes no sense? As a EC user _must_ be the member of an organization.

e: this currently jst overrides member_create/member_delete. This means you will not be able to add/remove ckan users to an organization.

[2014-08-06 12:18] Nithyavasudevan commented on #55
@joetsoi not sure if this helps, but there are member users within EC who are not assigned to any organisation. They are no different to an anonymous user in terms of the permissions on the platform. They can at some point be pulled into an organisation by changing roles..

[2014-08-06 12:52] adamamyl commented on #55
In the Accept Criteria we have

This criterion pre-dates the decision we reached that Members will not be in the EC. To that extent, I think this accept criteria should be re-defined to

_As an Organisation Admin I can request un-assignment of users from my organisation._

Is that acceptable, @stevenlivz @Nithyavasudevan ?

[2014-08-06 13:00] Nithyavasudevan commented on #55
I think there is still an opportunity for members to be on EC. I don't think we are absolutely ruling that out. There will still be member users on EC. @stevenlivz ?

[2014-08-06 14:27] joetsoi commented on #88
I'm currently getting 404s for this endpoint. @Nithyavasudevan does this endpoint work for you?

[2014-08-06 14:32] Nithyavasudevan commented on #88
This is giving me an error along with fetch all users too. I have already informed Jakub. Will let you know what he says,,

[2014-08-06 14:35] Nithyavasudevan commented on #88
just to note though.. i am getting an internal server error.. not a 400..

[2014-08-06 14:37] joetsoi commented on #88
ok, maybe I'm using the wrong url, I'm currently using

[code]

is this different to yours?

[2014-08-06 14:40] Nithyavasudevan commented on #88
am guessing it should use identity services rather than metadataservice in the url? one sec

[2014-08-06 14:40] Nithyavasudevan commented on #88
[code]

[2014-08-07 09:02] joetsoi commented on #55
well there are a few issues, firstly there is not an easy way of differentiating between EC users and ckan users from ckan's point of view. Assuming we can get past that, then from the someone actually using the interface, it's now not clear what happens when I click the member delete button, sometimes it will return me a request id(ec user), sometimes it'll remove the user(ckan user)

Additionall

[2014-08-07 09:31] joetsoi commented on #55
I've deployed what I have so far to staging and I'm getting timeout for the api call, is this the same for you @Nithyavasudevan (/UserRoles/Organisation/{organization_id}/User/{user_id}), otherwise I'll need some sample output of how the changelogs will look like, otherwise I can't write the code for harvesting these updates in the changelog.

[2014-08-07 10:32] Nithyavasudevan commented on #55
Can you let me know exactly what you are trying to do please? I am able to update user roles..

[2014-08-07 12:16] joetsoi commented on #55
@Nithyavasudevan, a second set of eyes would be great, this is the request being sent and the json being sent along with it, i'm getting 500s

[code]

[2014-08-07 12:21] Nithyavasudevan commented on #55
Is this the user id 39de8811-b9a1-4929-9c78-0d25efbf8c41 ?

I can't seem to find it in the db..
can you try this?
PUT /UserRoles/Organisation/C3220A9C-B0E5-4594-A33A-1F9F144419E7/User/CAABC9C3-DAEC-4967-A48D-A96E5068FA2D HTTP/1.1

[2014-08-07 12:34] joetsoi commented on #55
ah ok, I've fixed it to use the  EC user ids, it should have been calling ae93f7fc-27e3-40a6-b3c0-0872cd579bf2 is that user in the database?

I can't try for that user id (CAABC9C3-DAEC-4967-A48D-A96E5068FA2D) as we haven't set up syncing of users from EC to ckan yet, so it's not curreently in the ckan database on staging.

[2014-08-07 12:38] Nithyavasudevan commented on #55
No.. can't find him in the db. I will email you the users in db..

[2014-08-07 16:01] Nithyavasudevan opened #100 "Add organisation option should not be presented to a user who is not a SuperAdmin"
1. Logged in as MSFTAdmin (Org Admin user)
2. Went to https://ckanfrontend.cloudapp.net/dashboard/organizations
3. Noticed Add Organisation button
   ![image](https://cloud.githubusercontent.com/assets/7315913/3844580/99a48c3c-1e4a-11e4-8fa9-08d675034e9e.png)
4. Although the created organisation does get rejected by the platform, this option should still not be presented to non SuperAdmins.

[2014-08-07 16:09] Nithyavasudevan opened #101 "Dictionary to be changed to reflect British spelling"
Can we localise the theme to reflect British spelling for words (Eg. Organization)

[2014-08-07 16:39] adamamyl commented on #101
OED practice is -ize (where correct), see http://www.alt-usage-english.org/excerpts/fxizevsi.html (or http://web.archive.org/web/20040909164924/http://www.compsoc.net/oxnet/FAQs/ox.FAQ.html#53 if you prefer).

I'm happy with the priority here. This could be something @azymuth (Devon) looks at, though, in the themeing/design work -- unless you want URIs to change, too? (this ~is~ do-able, but takes

[2014-08-08 13:54] Nithyavasudevan opened #102 "'My datasets' link doesn't list the datasets that I have write access on"
While logged in as MSFTAdmin, i go the dashboard and click on My datasets tab
The page is empty. Ideally it should list all the datasets within my organisation.
![image](https://cloud.githubusercontent.com/assets/7315913/3857454/785d5928-1f03-11e4-8da1-c96e391ed7ff.png)

[2014-08-08 15:22] #38 closed, assigned to nobody

[2014-08-08 15:28] #59 closed, assigned to nobody

[2014-08-08 15:30] #66 closed, assigned to nobody

[2014-08-08 15:31] #67 closed, assigned to nobody

[2014-08-08 15:35] #78 closed, assigned to nobody

[2014-08-11 11:13] adamamyl opened #103 "Pre-Live Checklist"
Before Go-Live, the following things need to be sorted --
## Infrastructure
- [ ] Drop TTLs on ?data.glasgow.gov.uk
- [ ] Sort out DNS
- [ ] Sort out SSL certificates
- [ ] Schedule time to build go-live plan (Glasgow, OKF, Microsoft)
## Extensions
- [ ] Google Analytics set-up (UA- string needed)
- [ ] Disqus set-up (account details)
- [ ] Themeing (being done by Glasgow) QA'd
## Machines
- [ ] F

[2014-08-11 11:14] adamamyl commented on #103
@stevenlivz @Nithyavasudevan : first thoughts on the checklist for things to do pre-go-live; both of you should be able to edit this, or add more.

[2014-08-12 12:28] adamamyl opened #104 "Deploy to integration"
Prior to I5 demo, please deploy the release to integration.

[2014-08-12 15:30] Nithyavasudevan opened #105 "[8] Message on screen after creating Organisation is incorrect"
After creating an organisation, the message displayed on screen says "Creation of Dataset" has been requested. NEeds to change

![image](https://cloud.githubusercontent.com/assets/7315913/3892822/8204cb3e-2235-11e4-8c79-d032b6cb123f.png)

[2014-08-12 16:29] Nithyavasudevan opened #106 "License text to be word wrapped"
When fetching the license field from the platform, the value needs to wrapped within the space
![image](https://cloud.githubusercontent.com/assets/7315913/3893770/ce4c331c-223d-11e4-8811-39cba46c0a28.png)

[2014-08-12 16:31] Nithyavasudevan opened #107 "License to be spelt Licence"
License to be spelt as a noun..

[2014-08-12 16:32] adamamyl commented on #106
To some extent, I think this will be fixed when it comes to production, where the licenses are from a defined list.

Some wrapping might be nice. Let's see how we go, although @azymuth might be looking at this as part of the design?

[2014-08-12 16:34] adamamyl commented on #95
@Nithyavasudevan is this still the case, or is this good to close?

[2014-08-12 16:35] #77 closed, assigned to nobody

[2014-08-12 16:44] Nithyavasudevan commented on #106
I had this question. The platform doesn't validate licence or pick from a list. So we need to be able to fetch and display values from platform neatly

[2014-08-12 17:01] adamamyl commented on #106
Gotcha.

[2014-08-13 10:27] Nithyavasudevan opened #108 "No link to download files"
Uploaded a file 'tt' to dataset Architecto laudantium tempore aut
Unable to find a link to download it.
![image](https://cloud.githubusercontent.com/assets/7315913/3904070/47090546-22d4-11e4-8b76-36cce5225ece.png)
![image](https://cloud.githubusercontent.com/assets/7315913/3904077/5e304c70-22d4-11e4-8aea-0ad7a6e651f8.png)
![image](https://cloud.githubusercontent.com/assets/7315913/3904084/6d681092

[2014-08-13 10:56] Nithyavasudevan commented on #76
Not sure why the assignment is removed. Making this a P2 as the original user story details always had filename as a mandatory field. And we dont want users to have to download files with timestamp, etc.

[2014-08-13 12:55] Nithyavasudevan commented on #108
Please note that clicking filename also takes me to the audit page
![image](https://cloud.githubusercontent.com/assets/7315913/3905542/0641bd36-22e9-11e4-9835-7bb5b17605f0.png)

[2014-08-13 13:58] amercader commented on #108
When you upload a new file, the link that appears is created under "Pending Resources". This means that the file creation request is being processed on the Platform. That's why we link to the request status check.

Once the file is approved in the platform _and_ created in CKAN by the changelog harvester, the file will appear under the "Data and Resources" section.

Right now this is not happening

[2014-08-13 14:12] joetsoi commented on #88
did jakub ever get back to you?

I've added 3 action functions ec_user_show, ec_user_list, ec_user_list_for_organization which proxy requests to the ec platform.

I'm currently getting unauthorized errors for them, you can test them on staging

e.g http://okfstagingfe.cloudapp.net/api/action/ec_user_list

[2014-08-13 14:26] Nithyavasudevan commented on #108
I am guessing this will be in I5?

[2014-08-13 14:35] amercader commented on #108
Yes

[2014-08-14 14:10] joetsoi commented on #88
ec_user_list now works, but all the users have their username = null.

The api for fetching users https://api.end.point/Identity/User/<username> wants the userName as a parameter, I've tried substiuting userId but that returns a 404, so I'm guessing it only works for userNames. I'm guessing the endpoint is actually working, it's just that the current test data means it's not usuable at the moment.

[2014-08-14 15:07] amercader commented on #94
According to the latest functional spec, file deletions (as well as dataset and organization ones) are "De-scoped Functionality"

We can not implement it without this backend support

[2014-08-14 15:41] adamamyl commented on #94
@stevenlivz is that a mistake in the Functional Spec, or is this out of scope, now?

[2014-08-18 11:09] adamamyl opened #109 "Provision PRODuction machines"
_gulp_.

Time to provision machines for production:
- [ ] Utilities: A1 (1 core, 1.75 GB RAM) -- to provide monitoring (nagios & sentry) for CKAN machines, and optionally, a few endpoints on the CTPEC;
- [x] Backend: A3 (4 cores, 7GB RAM);
- [x] Frontend: A2 (2 cores, 3.5 GB RAM);
- [x] Deploy the [COM-Bootstrap repo](https://github.com/okfn/com-bootstrap);
- [x] Deploy ckanext-glasgow

Hostname w

[2014-08-18 11:11] adamamyl commented on #109
(Endpoints for the CTPEC APIs are in the [release notes](https://drive.google.com/a/okfn.org/?ddrp=1#folders/0B6-UHWL33n0QRGRua3otX0ozVzg))

[2014-08-18 11:59] adamamyl commented on #94
Would have demo'd, but seems to be an issue with this being in/out of scope as Functional Spec has this as no longer built, and API returns an "operation not supported" type message.

[2014-08-18 11:59] adamamyl commented on #93
Demo'd, and ready for testing.

[2014-08-18 12:00] adamamyl commented on #92
Demo'd, and ready for testing.

[2014-08-18 12:00] adamamyl commented on #91
Demo'd, and ready for testing.

[2014-08-18 12:00] adamamyl commented on #90
Demo'd, and ready for testing.

[2014-08-18 12:01] adamamyl commented on #90
Maybe issues with "InProgress" states; this is intermittent, and we're investigating further (but may involve Microsoft for assistance/debugging)

[2014-08-18 12:02] adamamyl commented on #88
Issue with "null" as Username causes this to error.

[2014-08-18 12:03] adamamyl commented on #55
Issue with "null" as Username causes this to error.

[2014-08-18 18:16] Nithyavasudevan opened #110 "Unable to upload any more files after one is uploaded"
1. Created a dataset called 'Upload Defect'
2. Uploaded a file to it using the 'Why not add some' link
3. File still in pending status and i can see the 'Why not add some' link using which i can presumably upload another file.
4. Now uploaded a file to the same dataset via the test tool ('via testtool')
5. After this file got harvested back to ckan frontend, noticed that the file upload button is

[2014-08-18 18:29] Nithyavasudevan opened #111 "[7] Value 0 for Quality is replaced with null in file metadata"
Uploaded a file with metadata for Quality as 0. However, when trying to fetch it back, it shows as null in ckan screen

![image](https://cloud.githubusercontent.com/assets/7315913/3955830/5216d672-2705-11e4-833d-1fc7bd41ade0.png)
![image](https://cloud.githubusercontent.com/assets/7315913/3955852/8dc5b10c-2705-11e4-9902-e0e444e63a98.png)

[2014-08-18 18:34] Nithyavasudevan opened #112 "File metadata not listing many values"
When exploring a file to look at its metadata, noticed the following values are not being fetched back

Standard Version
Type
 and license not listing the actual value. it shows up as null.
![image](https://cloud.githubusercontent.com/assets/7315913/3955919/21829004-2706-11e4-9181-ae0818fa9259.png)
![image](https://cloud.githubusercontent.com/assets/7315913/3955932/3791e9d0-2706-11e4-8deb-93a7ea1a

[2014-08-18 21:11] Nithyavasudevan opened #113 "Unable to add user to organisation"
Logged in as superadmin1
Went to manage screen for organisation Peoplesoft.
Tried to add user 1dfee975-f744-4d48-a870-f20d00683111 as admin.
Got error.
![image](https://cloud.githubusercontent.com/assets/7315913/3958102/39a3c002-271c-11e4-85e6-ca01cab1f423.png)

[2014-08-19 09:52] adamamyl commented on #113
This is associated with the "username being null" CTPEC error, that we're trying to resolve…

[2014-08-19 10:36] Nithyavasudevan commented on #113
can we manually add one username to your db so we can test this until MS provide a fix?

[2014-08-19 14:33] Nithyavasudevan opened #114 "[6] Unable to register account with username RegUser1"
Tried to create a registered user. Username RegUser1

On submitting the form get the following error

The form contains invalid entries:

Name: Url must be purely lowercase alphanumeric (ascii) characters and these symbols: -_

There should be no case validation on username
![image](https://cloud.githubusercontent.com/assets/7315913/3967489/c6784b74-27ad-11e4-96ed-34332e953d90.png)

[2014-08-19 16:00] joetsoi commented on #113
I'm just to sum up why this is occuring.

when you try to add an editor/admin to an organization. Ckan will try and fetch the EC user using the username that it currently contains. This will fail, as Ckan currently stores the username as the userid from ckanext-oauth2waad.

If a user does not exist, ckanext-oauth2waad will create the user and currently stores the user_id as the username as the oau

[2014-08-20 10:42] adamamyl commented on #112
Ideally fixed by 2014-08-21, so I5 can be signed off.

[2014-08-20 10:44] adamamyl commented on #110
if creation date is added, uploads work.

[2014-08-20 10:45] adamamyl commented on #110
Ideally before 2014-08-21

[2014-08-20 11:28] amercader commented on #110
@Nithyavasudevan The "Why not add some" link is just a helper for where there are no resources on the dataset. The way to add new resources regardless of how many existing ones there are is via "Manage" > "Resources" tab > "Add new Resource"

[2014-08-20 11:47] Nithyavasudevan commented on #110
That makes sense!! Thanks!!

[2014-08-20 11:51] Nithyavasudevan commented on #110
REtested. Works fine.

[2014-08-20 11:51] #110 closed, assigned to joetsoi

[2014-08-20 11:53] amercader commented on #112
Fixed and deployed to integration.
- Standard version was not rendered on the frontend
- License expected a license id like the ones provided on the form, which is not always the case. Updated to display the value as is.
- Type is called Format in CKAN

https://ckanfrontend.cloudapp.net/dataset/jde-dataset-2-a5ee/resource/7abbbe76-98a1-43e9-bf3e-4a2432661811

[2014-08-20 15:15] amercader commented on #94
Implemented in CKAN. Delete requests are sent but seem to get stucked with an "InProgress" status (already pinged MS about this). Once this is solved we can test the second half of the process, harvesting the changelog entry and delete the resource (this is already implemented in CKAN as well)

[2014-08-20 15:32] Nithyavasudevan opened #115 "Unable to add file version"
There is no link to add versions to file.
![image](https://cloud.githubusercontent.com/assets/7315913/3983450/19f70020-287f-11e4-98da-31c898ebe7ea.png)

[2014-08-20 16:49] Nithyavasudevan opened #116 "[5] CKAN url's not consistent in many pages"
The url displayed on CKAN for different datasets seems to be in different formats.

Eg. Dataset - JDE Dataset 2
url - https://ckanfrontend.cloudapp.net/dataset/jde-dataset-2-a5ee

The last 4 characters in the url are the first 4 characters from the Org ID GUID

Eg2. Dataset - eriufhb weiufh
url - https://ckanfrontend.cloudapp.net/dataset/eriufhb-weiufh

No GUID.

[2014-08-20 21:22] Nithyavasudevan opened #117 "The path to the resource in the revisions screen needs to change"
Click on dataset JDE Dataset 2 and go into revisions for file test2 version 2

The path on top shows as below
 Organizations JD Edwards JDE Dataset 2 599de55e-d295-4eea-9... Version/b5ad4e7a-15ac-4cb0-98dd-eb633e...

This display needs to change to something more meaningful. Can we use names instead of GUID? Can this be discussed with SLP?

![image](https://cloud.githubusercontent.com/assets/73159

[2014-08-20 21:29] Nithyavasudevan opened #118 "CKAN url to display names rather than GUID"
The url for CKAN pages seem to include the guid for each resource rather than name. Can this include the names instead?

![image](https://cloud.githubusercontent.com/assets/7315913/3988591/f536b014-28b0-11e4-9a94-9db4a1b3591a.png)

[2014-08-21 09:51] adamamyl commented on #94
https://www.yammer.com/futurecitiesdemonstrator/#/Threads/show?threadId=430544530

[2014-08-21 14:57] Nithyavasudevan opened #119 "Manage button in file page sends incorrect org details"
Clicking on manage button in the file page and updating metadata seems to pass a json with data that doesn't exist on the platform.
This is the message i got from platform
Message - File metadata 'nn v2' ('', version 'f4f7159f-4256-4561-bdc6-1d5fc3a1f774') was not updated - 'File Id : 07d1ae9a-e44a-457e-a5ed-5d55c129423d, Version: f4f7159f-4256-4561-bdc6-1d5fc3a1f774 for Organisation Id :25e709f1-

[2014-08-21 15:14] Nithyavasudevan opened #120 "Image upload button in Create Organisation screen"
The create organisation screen has an image upload button which when used causes an Internal SErver error. If the button doesn't work, it should be hidden.

[2014-08-21 15:19] Nithyavasudevan opened #121 "Screen doesn't refresh after Create Organisation"
MEssage on screen after organisation is created says the following

"This page will get automatically updated once the request is approved. "

A create organisation request does not need approval at all as it is done by SuperAdmin only. So I think you mean once the request is successful. So the message should be changed. Also, the screen does not refresh at all. The newly created organisation seem

[2014-08-21 15:28] Nithyavasudevan opened #122 "[1] Organisation description not passed to the platform"
Created an organisation with a description. However, this description seems to be passed as null to the platform as the platform seems to be storing null in the db. This functionality works fine from the test tool for platform.

[2014-08-21 15:40] Nithyavasudevan opened #123 "[2] Organisation metadata update screen does not fetch descritpion"
When trying to update metadata for an organisation, it doesn't fetch the description from the platform. The api does send this value in the json. i tested using test tool.

![image](https://cloud.githubusercontent.com/assets/7315913/3998474/187c7f9e-2948-11e4-8a03-19a3d43c6518.png)

[2014-08-21 15:46] Nithyavasudevan opened #124 "Incorrect user detail updated in organisation's activity stream tab"
Created an org 'ckan description test' as user SuperAdmin1.
However the Activity Stream tab shows the following
default created the organization ckan-description-test 13 minutes ago

If tab isn't used, it should be deleted.

![image](https://cloud.githubusercontent.com/assets/7315913/3998697/3f4551a8-294a-11e4-8114-a2e399452758.png)

[2014-08-21 16:36] Nithyavasudevan opened #125 "[4] Manage button in organisation page does not fetch current values from platform"
Created organisation called 'ckan description test'
set the dataset require approval to false.
the db now shows this value.
however when i click manage button to edit this, this field is set to true.
![image](https://cloud.githubusercontent.com/assets/7315913/3999524/0ef1dd08-2951-11e4-8a8d-dd915adbbb48.png)

[2014-08-21 16:40] Nithyavasudevan opened #126 "Custom fields in organisation page"
Custom fields in the organisation metadata page should be removed. They are not on the platform. Although they don't seem to get passed..

![image](https://cloud.githubusercontent.com/assets/7315913/3999596/db8d25f2-2951-11e4-8a5b-45aa1cda6ce0.png)

[2014-08-21 16:46] Nithyavasudevan opened #127 "ckan url seems to have a 'group' parameter in it"
While navigating to the create dataset screen by selecting an organisation and then add dataset button, the url seems to have a group value in it
1. Click on organisations
   2 select organisation 'ckan description test'
2. click add dataset
3. notice the url is
   https://ckanfrontend.cloudapp.net/dataset/new?group=d7ca57fc-d733-49e3-8089-d69d1a9ba408

5 the guid above is actually the org id. we

[2014-08-21 16:51] Nithyavasudevan commented on #98
Checked this now and clicking on Refresh Now seems to do nothing. It stays on the same page

[2014-08-21 16:52] Nithyavasudevan opened #128 "Groups tab in dataset page"
The dataset page has a Group tab which seems to have nothing. We do not have the concept of groups yet. Can this be removed please?

![image](https://cloud.githubusercontent.com/assets/7315913/3999790/9847e780-2953-11e4-98f5-cb44f439955f.png)

[2014-08-21 16:53] Nithyavasudevan commented on #124
This issue is there for dataset screen too.

[2014-08-21 17:15] amercader commented on #85
Deployed to integration, ready for testing

[2014-08-21 17:15] amercader commented on #84
Deployed to integration, ready for testing

[2014-08-21 17:18] Nithyavasudevan opened #129 "Related tab in dataset screen"
There is a related tab in the dataset screen, Not sure what its purpose it. Tried to add a related item. It seems to be local to CKAN.
![image](https://cloud.githubusercontent.com/assets/7315913/4000144/2fde2c64-2957-11e4-9bd7-d38585bc122e.png)

[2014-08-21 17:23] Nithyavasudevan opened #130 "Audit Info for updating metadata doesn't show platform request ID"
Created 2 custom metadata values for dataset NEO.
Went to Pending Changes tab to review the audit trail
Noticed the following
CTPEC request id:
CKAN task id: 0296efca-fd7d-4b8f-b2b8-cb5a04af35f0
Status: sent

![image](https://cloud.githubusercontent.com/assets/7315913/4000205/ce3fe654-2957-11e4-8bd1-26c10b5b61f6.png)

[2014-08-21 17:29] Nithyavasudevan opened #131 "[3] Needs Approval flag not displaying in Dataset Metadata page"
On the dataset metadata page, the needs approval flag shows as null. The value in the db is 0.

![image](https://cloud.githubusercontent.com/assets/7315913/4000330/942a57b4-2958-11e4-834a-6648daa5018a.png)

[2014-08-21 17:48] Nithyavasudevan opened #132 "Able to submit request with duplicate keys in dataset custom metadata update request"
Tried to update dataset custom metadata

Added the following key value pairs

favourite cuisine - Mexican
Second favourite cuisine - Italienne
Favourite cuisine - Mexican

This request got submitted although the duplicate key item did not appear on harvest.
This duplicate check should be done here before form submit.

[2014-08-21 18:12] Nithyavasudevan opened #133 "tag values sent to platform are sent as duplicates"
When sending tags from dataset update screen to the platform, ckan seems to send duplicate values.
For example if I enter nithya as a tag, it is stored as nithya, nithya in the db

[2014-08-21 18:15] Nithyavasudevan opened #134 "License values in the dropdown box"
' License Not Specified' should not be a valid value in the drop down box for a mandatory field. The user needs to select a valid licence value.

[2014-08-21 18:38] Nithyavasudevan commented on #84
The testing for this is blocked by issue 119. I can't seem to submit file updates.

[2014-08-22 10:00] adamamyl commented on #115
See #32

[2014-08-22 10:02] amercader commented on #119
This seems to be an issue with this particular file.

First of all CKAN is sending the right parameters, the message returned by the platform has the Org id and Dataset id the wrong way around, which causes confusion.

The org and the dataset exist in the platform, but not this particular file:

https://gccctpecmetadataservicesint.cloudapp.net/Metadata/Organisation/f8c84440-24c6-40ce-a0b0-eafacd15

[2014-08-22 11:21] Nithyavasudevan commented on #94
Is this code in integration? I am aware the platform bit doesn't work yet, but if this code is in integration, i should still be able to check that the file got deleted on the platform

[2014-08-22 14:06] Nithyavasudevan opened #135 "Username is the user profile screen should be word wrapped"
Logged in using username SuperAdmin1@gccctpecadint.onmicrosoft.com

Went to userprofile screen

https://ckanfrontend.cloudapp.net/user/SuperAdmin1%40GCCCTPECADINT.onmicrosoft.com

Noticed that username runs into main page

![image](https://cloud.githubusercontent.com/assets/7315913/4011556/888554a6-2a05-11e4-9c57-96ba603e9712.png)

[2014-08-22 17:53] Nithyavasudevan opened #136 "Clicking on a dataset in front screen takes me to incorrect page"
Created a dataset with title 'NITHYA'

![image](https://cloud.githubusercontent.com/assets/7315913/4014277/e470eadc-2a1e-11e4-8030-ac0eb710df1e.png)
![image](https://cloud.githubusercontent.com/assets/7315913/4014280/ea5e5704-2a1e-11e4-9545-d5873c36997b.png)
![image](https://cloud.githubusercontent.com/assets/7315913/4014285/f8440058-2a1e-11e4-847d-9107edc86c0c.png)

Created another dataset with t

[2014-08-22 19:20] Nithyavasudevan opened #137 "Able to create 2 datasets with the same title"
Created a dataset called Srinivas
![image](https://cloud.githubusercontent.com/assets/7315913/4016060/795a6680-2a30-11e4-8f91-2c377c32e6e0.png)

![image](https://cloud.githubusercontent.com/assets/7315913/4016073/9e2c5e50-2a30-11e4-87b7-5d1b19f24d76.png)

Tried to create another dataset with same name but different case srinivas
Request got submitted successfully
![image](https://cloud.githubuserc

[2014-08-22 21:01] Nithyavasudevan opened #138 "Update dataset fails with error"
1. Created a dataset Bavyaa in Org Karma Creations
2. Tried to update the dataset by changing description.
3. On submitting, get the following error. This works fine when tested from the test tool.

[code]

![image](https://cloud.githubusercontent.com/assets/7315913/4017373/69cba094-2a3f-11e4-84c3-0787ac0521b8.png)

[2014-08-23 19:46] Nithyavasudevan opened #139 "Show more organizations' link retrieves nothing"
1. Go to https://ckanfrontend.cloudapp.net/
2. Click on Datasets on the main page.
3. On the left under the 'Organizations' filter, click on 'Show more organizations'
4. Note the message 'There are no Organizations that match this search'
   This is incorrect. There are 17 organisations on CKAN and platform

![image](https://cloud.githubusercontent.com/assets/7315913/4021649/226430d0-2afe-11e4-8c5

[2014-08-24 21:02] Nithyavasudevan commented on #71
This still doesn't work. tried to add a file 'Organisations' from IE. Got the following error.
The form contains invalid entries:
•Message: The CTPEC API returned an error code: 400 : {"Message":"The request is invalid.","ModelState":{"FileName":["The file name cannot contain any of the following characters: < > : \" / \ ? | \* and characters from Unicode category [Cc](Other, Control)."]}}

Was ab

[2014-08-25 13:49] Nithyavasudevan opened #140 "User created on platform not harvested in CKAN"
Created an organisation on the platform using the test tool. Required audit generated successfully.
However, even after a long time, the organisation is not harvested in CKAN.

Organisation name : Valhalla
Org ID : ba9214b4-ea8b-4fc7-afdf-6cb09e79506f

[2014-08-25 13:57] adamamyl commented on #140
Do things created in the test tool generate a changelog entry?

[2014-08-25 14:16] Nithyavasudevan commented on #140
yes

Date: Mon, 25 Aug 2014 06:57:24 -0700
From: notifications@github.com
To: ckanext-glasgow@noreply.github.com
CC: nityav@hotmail.com
Subject: Re: [ckanext-glasgow] Organisation created on platform not harvested in CKAN (#140)

Do things created in the test tool generate a changelog entry?

—
Reply to this email directly or view it on GitHub.

[2014-08-26 11:58] nigelbabu commented on #109
Waiting on azure to give us more cores.

[2014-08-26 12:02] adamamyl commented on #109
haz moar cores...

[2014-08-26 12:51] nigelbabu commented on #109
Not yet on Azure.

Nigel Babu
Developer, Open Knowledge

On 26 August 2014 17:32, adam mcgreggor notifications@github.com wrote:

[2014-08-26 13:08] amercader commented on #140
The harvesting had stalled due to a bug in the changelog harvester. This is now fixed and the pending changes have been applied, eg:

https://ckanfrontend.cloudapp.net/organization/valhalla

[2014-08-26 15:17] amercader commented on #138
This was caused by the created datasets having the "CreatedBy" extra field added. This is now fixed, so new datasets should be able to be edited correctly. Any existing dataset with the "CreatedBy" custom field will fail.

[2014-08-26 15:37] Nithyavasudevan commented on #138
@amercader - The platform are going to remove CreatedBy field as a custom metadata. I am guessing this fix won't impact that?

[2014-08-26 15:43] amercader commented on #94
Deleting the latest version of a file (ie via the resource edit form) now works.

We still have to implement it for a particular version

[2014-08-26 15:43] amercader commented on #136
We'll double check the unique title validators

[2014-08-26 16:15] amercader commented on #71
I've just created a couple of files using IE without problem, so I suspect that the problem is not directly IE related (as it was the case before), but something with the file name.
What kind of file are you uploading and what name does it have?

[2014-08-26 16:31] Nithyavasudevan commented on #71
Filename in my comments.. Organisations.xls

[2014-08-26 20:14] Nithyavasudevan commented on #140
Harvesting still seems to have issue. Users are not getting fully harvested. User Superstar@GCCCTPECADINT.onmicrosoft.com not found on CKAN.

[2014-08-26 20:22] Nithyavasudevan commented on #138
@amercader - The Createdby field seems to have been suppressed in the front screen?

[2014-08-27 09:58] Nithyavasudevan commented on #139
15

[2014-08-27 10:06] Nithyavasudevan commented on #137
10

[2014-08-27 10:07] Nithyavasudevan commented on #135
19

[2014-08-27 10:10] Nithyavasudevan commented on #131
5

[2014-08-27 10:10] Nithyavasudevan commented on #125
4

[2014-08-27 10:12] Nithyavasudevan commented on #123
Sev High

[2014-08-27 10:13] Nithyavasudevan commented on #122
High Sev

[2014-08-27 11:44] adamamyl commented on #96
This seems to just not be a case of the 'Manage' button for this type of user.

Going by URI seems to work.

[2014-08-27 11:55] joetsoi commented on #140
@adamamyl, @Nithyavasudevan , this is the issue yesterday where items in the change log do not give the full username back
This is the user , notice the name has @GCCTPE...

[code]

yet in the createuser log changelog the user is just superstar.

[code]

so if we get the wrong user name, we can't harvest in the user.

[2014-08-27 12:48] adamamyl commented on #140
Action needed to include fully-qualified username in ChangeLog.

[2014-08-27 12:50] adamamyl commented on #138
Being removed in CTPEC.

[2014-08-27 13:01] adamamyl commented on #71
(ACCESS/GCC to do more testing.)

[2014-08-27 13:04] adamamyl commented on #53
Add in ability for SysAdmins to be created.

[2014-08-27 13:16] adamamyl commented on #116
Happens when duplicate names.

Likely to be search index not cleared, or duplicate. Only 4characters in dataset

[2014-08-27 13:17] amercader commented on #116
Check updates as well

[2014-08-27 13:19] adamamyl commented on #105
infer from CKAN. Add org/user/dataset etc.

[2014-08-27 13:44] Nithyavasudevan commented on #140
Added defect on MSFT - 4249

[2014-08-27 14:47] adamamyl opened #141 "Create link in top navigation for /create_users"
To the right of the '/ckan-admin' link, create a link/tooltip to /create_users, that's only visible if the user logged in is:
- [ ] A SysAdmin
- [ ] An org-admin

[2014-08-27 15:36] Nithyavasudevan commented on #71
Traced the post through to Fiddler on Surface 2 Pro IE 11 and on SLP's laptop (same IE version and patches). Noticed
Content-Disposition: has filename of "C:\Nithya\Access\Integration\Organisations.xlsx" on Surface 2 pro.

Same has value of Organisations.xlsx on SLP's laptop.

We should check filename to strip it of all invalid chars before passing to platform.

Assigning it to Devon Walshe

[2014-08-27 15:49] Nithyavasudevan commented on #138
Fix to be reverted

[2014-08-27 15:50] Nithyavasudevan commented on #138
To be tested after Platform delivers fix

[2014-08-27 16:46] Nithyavasudevan commented on #53
Can we please make sure this full requirement is understood in case i wasn't clear? Since we have done away with creating members on WAAD via CKAN, we need to understand how you would implement creating superadmin.

[2014-08-28 13:00] amercader commented on #94
This is now implemented. As part of the changeset we've improved the presentation of the file versions. There is now a button on the resource page to access the listing:

![mh5ochu](https://cloud.githubusercontent.com/assets/200230/4074316/e86f7c68-2e9f-11e4-8519-a533a83a4b50.png)

Once in the listing, authorized users will see a "Delete" button on each of the versions:

![pzd1cz9](https://cloud.g

[2014-08-28 15:29] amercader commented on #141
Added here:

![qfljft1](https://cloud.githubusercontent.com/assets/200230/4078012/1ed294a2-2ec8-11e4-8a76-54a211eb90fe.png)

[2014-08-28 15:39] stevenlivz commented on #94
Much better. Nice work :-)

-----Original Message-----
From: "Adrià Mercader" notifications@github.com
Sent: ‎8/‎28/‎2014 14:00
To: "okfn/ckanext-glasgow" ckanext-glasgow@noreply.github.com
Cc: "Steven Livingstone-Perez" startup@paramount-ventures.com
Subject: Re: [ckanext-glasgow] US 1.2.5 As a SuperAdmin, OrganisationAdmin/Editor, I want to be able to initiate deletion of a specific version ofa

[2014-08-28 15:57] amercader commented on #122
@Nithyavasudevan @stevenlivz
To create a new organization you need to send

[code]

but when getting the metadata of an organization you get:

[code]

Do you prefer that:
1. We put custom logic in place to support this as it is now on the API
2. The CTP supports the field consistently (ie Title and Description both for create/update and read) and we wait for this (current code should work as expec

[2014-08-28 15:59] amercader commented on #123
If the Organization has description, it is fetched, see eg https://ckanfrontend.cloudapp.net/organization/test-org-about

The problem is that the description is not added in the first place because of the issue described in https://github.com/okfn/ckanext-glasgow/issues/122#issuecomment-53742860

[2014-08-28 17:53] joetsoi commented on #115
it's on staging now eg https://okfstagingfe.cloudapp.net/dataset/ee3e5f14-f6e5-42de-b818-42eea0e2547a/resource/2894dcb7-4b98-447c-a281-fd1b1fcdb624/version/new it'll be in the next deployment to integration

[2014-08-28 18:01] stevenlivz commented on #122
Let us chat with Microsoft tomorrow and see if they can fix this to be consistent.

-----Original Message-----
From: "Adrià Mercader" notifications@github.com
Sent: ‎8/‎28/‎2014 16:57
To: "okfn/ckanext-glasgow" ckanext-glasgow@noreply.github.com
Cc: "Steven Livingstone-Perez" startup@paramount-ventures.com
Subject: Re: [ckanext-glasgow] [1] Organisation description not passed to theplatform (#122)

[2014-08-29 09:14] Nithyavasudevan commented on #141
CAnnot see link
![image](https://cloud.githubusercontent.com/assets/7315913/4088414/cdb6f49c-2f5c-11e4-86e1-9f755b7e66b6.png)

[2014-08-29 10:08] amercader commented on #136
Fixed the validators, this should work as expected now

[2014-08-29 10:29] amercader commented on #138
@Nithyavasudevan we need the "Resolved" label to keep track of the issues that have been fixed on the code base (ie that they are done on our side and that we can move to the next one)
I've renamed them to "OK Resolved" and changed the colour, so please let us handle this one and don't remove it from issues.
I suggest that when you are happy that an issue has been resolved you just close it
Thanks

[2014-08-29 10:37] amercader commented on #141
Sorry, wrong label

[2014-08-29 10:42] Nithyavasudevan commented on #138
I will not look at resolved then. Unless something says Ready for Testing I will not look at it. MAkes it easier that way.

[2014-08-29 10:54] amercader commented on #138
Great

[2014-08-29 11:41] amercader commented on #115
To access the form there is a link in the resource actions and a button on the Versions page:

![izdxcwa](https://cloud.githubusercontent.com/assets/200230/4089702/5c34ff3e-2f71-11e4-9b37-a095e8f51ea7.png)

![r1pu79f](https://cloud.githubusercontent.com/assets/200230/4089703/5c3861ce-2f71-11e4-915c-4dfe4ef98299.png)

[2014-08-29 14:59] Nithyavasudevan commented on #138
code not yet reverted.. I will remove ready for testing.

[2014-08-29 15:24] amercader commented on #138
As of now, the platform API is still returning the [CreatedBy](https://gccctpecmetadataservicesint.cloudapp.net/Metadata/Organisation/a5ee39a1-7392-446e-a2c5-b3db9d141233/Dataset/e91759eb-9a77-4379-8022-287953ea861a/File/599de55e-d295-4eea-9f69-1d6912abd5dd) field that was the original cause for this failure. If we remove the code to handle this field, the issue will come up again, affecting your

[2014-08-29 15:25] Nithyavasudevan commented on #138
yep.. am hoping to get the fix for this on Mnday. Will update you.

[2014-08-30 17:39] Nithyavasudevan commented on #141
Checked. Link available. Takes me to create user page. Not tested create users yet.

[2014-08-30 18:01] Nithyavasudevan commented on #136
working.

[2014-08-30 18:01] #136 closed, assigned to amercader

[2014-08-30 18:06] Nithyavasudevan opened #142 "url field stops me from creating datasets with same name in different organisations"
I am unable to create a dataset with the same name in different organisations because it creates a url field with the dataset name. As per functionality I should be able to create dataset with same name under different organisations.

[2014-08-30 18:15] Nithyavasudevan opened #143 "Updating file metadata shows no audit information"
When I update the metadata of a file and click on update resource, there is no indication on the page to say if the request got submitted or not. I need to go back to the dataset page to see this resource pending update. This doesn't seem elegant

[2014-08-30 20:38] Nithyavasudevan opened #144 "Harvesting of files not completing correctly"
1. Went to file 'this is a file' in https://ckanfrontend.cloudapp.net/dataset/valkyrie-ba92
2. While it was pending change, went and updated the file again with different metadata.
3. Now I got 2 files pending change.
4. However, after all harvest is complete, the first update is still showing up in pending.
   ![image](https://cloud.githubusercontent.com/assets/7315913/4100248/c40f88bc-308a-11e4-

[2014-08-30 20:47] Nithyavasudevan commented on #119
seems to work for other data

[2014-08-30 20:47] #119 closed, assigned to adamamyl

[2014-08-30 20:59] Nithyavasudevan opened #145 "Create new file version submit doesn't submit gracefully"
After creating a new file version and submitting the request, there is a message on screen with request id. But the page still remains in edit mode on the file version page. This looks very clumsy.

![image](https://cloud.githubusercontent.com/assets/7315913/4100254/00206466-308b-11e4-99f7-328c88bc4a26.png)

[2014-08-30 21:13] Nithyavasudevan opened #146 "External url should open a new page"
When I am on a file page and click on Go To Resource link, when the link is an external url, it should open the url in a new page and not open the link on the same page.

![image](https://cloud.githubusercontent.com/assets/7315913/4100246/8117b2b4-308a-11e4-8550-e2347b82d20e.png)

[2014-08-31 14:48] Nithyavasudevan opened #147 "Adding file version doesn't create a pending resource link until approved"
After adding a file version, there is no redirection to display audits. If I go over to the files page, it doesn't display anywhere that a file version is pending approval.

![image](https://cloud.githubusercontent.com/assets/7315913/4102167/ffae15d6-311c-11e4-8702-80fff049cbce.png)

![image](https://cloud.githubusercontent.com/assets/7315913/4102169/0bb64d94-311d-11e4-9378-31b6f57329a5.png)

The

[2014-08-31 15:58] Nithyavasudevan commented on #115
able to add version now.

[2014-08-31 15:58] #115 closed, assigned to joetsoi

[2014-08-31 18:21] Nithyavasudevan commented on #112
working

[2014-08-31 18:21] #112 closed, assigned to amercader

[2014-08-31 18:29] Nithyavasudevan opened #148 "No link to view users"
There is no link on the screen to view current users on the system even if i am logged in as superadmin.
Using a url is not the solution.. We will need to design a link on the screen.

[2014-08-31 19:03] Nithyavasudevan commented on #95
Cannot test this until users get harvested from platform

[2014-08-31 19:18] Nithyavasudevan opened #149 "Description field accepts a single space as a valid character"
Tried to create a file with a single space as value for description. got an error back from platform (a 400 error). Not sure if we can allow a single space for a mandatory field?

[2014-08-31 19:24] Nithyavasudevan opened #150 "File preview function gives HTTP exception"
While viewing a file, if the datatype provided does not match the actual file MIME type, it gives a HTTP Exception.#

![image](https://cloud.githubusercontent.com/assets/7315913/4102950/70653846-3144-11e4-962f-939678bdce75.png)

[2014-08-31 19:34] Nithyavasudevan opened #151 "Request id from file version delete doesn't exist on platform"
On deleting a file version, i can see a request id displayed on the page. However, this id cannot seem to be found on the platform

![image](https://cloud.githubusercontent.com/assets/7315913/4102971/da212eb0-3145-11e4-9b29-652821a3a268.png)

[2014-08-31 19:36] Nithyavasudevan commented on #151
just realised this is version id.

[2014-08-31 19:36] #151 closed, assigned to adamamyl

[2014-08-31 19:37] Nithyavasudevan commented on #94
although this works for superadmin, cannot close this user story as need all users working before i can test this user story

[2014-08-31 19:39] Nithyavasudevan commented on #94
removing ready for testing as creating superadmins from ckan not yet implemented and so dev team would not have actually tested permissions for this function. will wait until that is done.

[2014-08-31 19:51] Nithyavasudevan opened #152 "url field while uploading file doesn't send values in valid format to platform"
While entering values for an external link in a file upload page, the platform expects "http:". The CKAN page should either validate this on the front end or send it in the accepted format. At the moment it gets rejected at the platform.
![image](https://cloud.githubusercontent.com/assets/7315913/4103029/26d67a38-3148-11e4-8e40-12122791e7fd.png)

[2014-08-31 20:01] Nithyavasudevan opened #153 "Version link leads to 404 page"
While creating a new version of a file, the version link in the path gives a 404.

This is the "Version" link before the "Create a new file version" link. Note the irl in the page with 404.

![image](https://cloud.githubusercontent.com/assets/7315913/4103081/6ca02eb4-3149-11e4-8e90-ccb6b17df732.png)

![image](https://cloud.githubusercontent.com/assets/7315913/4103090/a3b0abc2-3149-11e4-8344-348d49

[2014-08-31 20:20] Nithyavasudevan opened #154 "update dataset lets me change the organisation"
While updating a dataset metadata, CKAN lets me change the organisation of the dataset. This should not be possible. While this gets rejected by the platform, it should be stopped by CKAN front end.

![image](https://cloud.githubusercontent.com/assets/7315913/4103138/1a6b41e4-314c-11e4-840f-28a190f71e19.png)

[2014-08-31 20:33] Nithyavasudevan opened #155 "delete button for custom metadata doesn't actually delete the value"
The delete button next to custom metadata doesn't actually delete the value. The value still seems to be sent to platform.

![image](https://cloud.githubusercontent.com/assets/7315913/4103180/0a7e443c-314e-11e4-9f92-95f1040b5cde.png)

just to note that physically removing the value does stop the value from getting sent.

[2014-08-31 21:22] Nithyavasudevan commented on #85
this works in general.

[2014-08-31 22:00] Nithyavasudevan opened #156 "custom metadata value being displayed instead of title for file"
A value given for a custom metadata key field is displaying as the title for a file. This file was created directly on the api. Title is stored correctly in the title field and "name" is stored as a key with value of "bond"

Below is the screenshot of the data created using test tool directly on platform
![image](https://cloud.githubusercontent.com/assets/7315913/4103368/f41cab1e-3159-11e4-952a-a3

[2014-09-01 10:29] adamamyl commented on #146
Not according to the [W3C](http://www.w3.org/TR/WCAG20-TECHS/G200.html):

[2014-09-01 10:30] adamamyl commented on #146
Ultimately, it is entirely the **user's** choice over how/where links should open.

[2014-09-01 11:10] adamamyl commented on #53
Quick note needed on Yammer re: specing out two-stage approach

[2014-09-01 11:11] adamamyl commented on #84
Needs user roles and perms in place (see #53)

[2014-09-01 11:11] adamamyl commented on #85
Needs user roles and perms in place (see #53)

[2014-09-01 11:12] adamamyl commented on #94
Needs user roles and perms in place (see #53)

[2014-09-01 11:12] adamamyl commented on #113
Needs user roles and perms in place (see #53)

[2014-09-01 11:13] adamamyl commented on #138
MS have now deployed (hopefully) a fix -- to UAT environment

[2014-09-01 11:15] adamamyl opened #157 "Change-over to use UAT environments"
UAT environment has now been deployed; now CKAN on INT needs to use these.

[2014-09-01 11:16] adamamyl commented on #138
Try after #157 is closed

[2014-09-01 11:17] adamamyl commented on #140
Try after #157 has been closed.

[2014-09-01 11:18] #141 closed, assigned to joetsoi

[2014-09-01 11:19] adamamyl commented on #145
Outcome of the action should be similar to submit dataset/file:

passed to platform with this status ID

[2014-09-01 11:20] adamamyl commented on #147
Tie in with #145

[2014-09-01 11:23] adamamyl commented on #156
Difficulties with CTPEC on Name/Title/Descriptions all being used for names/labels, probably involved here.

[2014-09-01 12:04] joetsoi commented on #53
@Nithyavasudevan. The ckan client key to create users atm. Using the users' key involves rewriting large sections of oauth2waad, the ckan client key cannot create users in organisations.

So I am looking to change it so that platform users are always created without organisations. After this, they can add users to organisations via the members page of an organisation. This would call the platform

[2014-09-01 12:11] adamamyl commented on #53
If user A is org-admin, for org. O, and tries to add user **U** to organization **O** what happens?

Can A add U, or does U need to be associated to O? (for the latter, my understanding is that this is allowed). @Nithyavasudevan can you test this via the test tool?

[2014-09-01 12:34] joetsoi commented on #53
another option we have is  just ask microsoft to let the ckan client key have the ManageRegisteredUsers auth and then I can just get back to the super user form.

[2014-09-01 12:35] Nithyavasudevan commented on #53
This is the list of permissible actions

SuperAdmin can request changing the roles and organisationId of any user
Organisation Admin can request changing the roles of a user from their organisation only or being assigned to their organisation.
Organisation Admin can request assigning Member-only users to their organisation. They can also request un-assignment of users from their organisation.

Sup

[2014-09-01 14:12] stevenlivz commented on #53
Hi. Late to the party due to a million parallel thing :S Slightly confused on this one. When the user has logged in to ckan, do they not have a cached oauth token that could be passed as the bearer other than the ckan oauth token? From then the platform just picks up the user context for you? It may be more complex than this but it would be good to understand how it would change the existing oauth

[2014-09-01 22:12] joetsoi commented on #53
@stevenlivz, there are 3 user tokens, the current oauth token for users only handles 1. I changed the service to service tokens to handle the 3 tokens, but doing it for users would take a more significant amount of reworking of the oauth extension and in this one.

[2014-09-02 09:53] stevenlivz commented on #53
Ok. I will follow up on this as i don't quite understand as all the other user api requests use the users oauth token but what about another direction on this one - maybe what you are already doing?

Use the ckan client key authentication to create a member user on the platform - so when logged in as organisation admin, you'd still use the ckan client key to create member users. Once this user has

[2014-09-04 16:38] #157 closed, assigned to nobody

[2014-09-04 16:42] joetsoi commented on #156
It looks like this is we just have some bad test data here, it looks like the dataset wasn't cleared out before this new one was collected.

If you look at the dataset name (in the second screenshot) it ends in ba92 which would be the final four characters of the dataset id.

In the first screenshot it there is not 'ba92' anywhere in the dataset id, this means the two screenshots are completly unr

[2014-09-05 12:32] nigelbabu commented on #109
Deployed machines and they seem to be working.

[2014-09-08 10:11] adamamyl commented on #114
Issue here (and why it's a WONTFIX) WAAD is not case sensitive. All usernames are made lowercase from CKAN's perspective.

Usernames are converted to lowercase.

[2014-09-08 10:13] adamamyl commented on #114
(possibly remove 'change username' in edit).

[2014-09-08 10:58] adamamyl opened #158 "Certificate for ckanglasgowprod"
Please set-up/deploy a self-signed SSL certificate for/on http://ckanglasgowprod.cloudapp.net/

(real certificate will be imminent)

[2014-09-08 14:14] Nithyavasudevan opened #159 "Unable to create a dataset with name "new""
When I create a dataset with Title "New", it gives me an error saying Name: That name cannot be used. This seems to be a new validation on the front end. I vaguely remember this was working earlier. The platform has no such restrictions. So there could be a situation in future where another source has created a dataset on the platform called "new" and CKAN cannot be used to edit that dataset.

![i

[2014-09-08 14:16] Nithyavasudevan opened #160 "Cannot find out status of user creation request"
On creating a new user, there is no link/location on the front end for me to actually check the status of the user creation. User creation is now a 2 step process (except for members) and I need to know status of step 1 before i go and keep trying to see if i can perform step 2.

[2014-09-08 15:53] Nithyavasudevan opened #161 "Pending changes tab to be hidden"
When logged in as a member user (harrypotter@gccctpecaduat.onmicrosoft.com), the "Pending Changes" tab in organisations and datasets should not be visible. Instead it is visible and gives an auth error when accessed for datasets alone.

![image](https://cloud.githubusercontent.com/assets/7315913/4188171/23971ee4-3770-11e4-8777-92d05e9488a8.png)

![image](https://cloud.githubusercontent.com/assets/

[2014-09-08 16:01] Nithyavasudevan opened #162 "Able to add registered user to an organisation"
When trying to add a user to an organisation, i should not be given an option to add a registered user. However, CKAN lets me submit such a request to the platform. The platform however rejects this.

![image](https://cloud.githubusercontent.com/assets/7315913/4188322/698cecc0-3771-11e4-86a3-b747cec91f71.png)

[2014-09-08 16:05] adamamyl commented on #162
By "registered user" do you mean "CKAN user" (i.e. a user account that is not a CTPEC/WAAD user)?

[2014-09-08 16:16] Nithyavasudevan opened #163 "Unable to move a platform user from an organisation back to a member"
When logged in as an OrgAdmin and trying to remove a platform user from an Organisation back to being a member user, CKAN gives an error

![image](https://cloud.githubusercontent.com/assets/7315913/4188480/fc50bc0c-3772-11e4-995b-0eb9f6d0c886.png)

Once this error appears, i need to refresh the screen to get back the roles.

![image](https://cloud.githubusercontent.com/assets/7315913/4188517/627ee

[2014-09-08 16:24] Nithyavasudevan opened #164 "Member option to be removed from roles list when adding a user to an organisation"
When adding a user to an organisation, "Member" should not be present in the drop down box as member cannot belong to an organisation. On selecting it, the values in roles list vanish

![image](https://cloud.githubusercontent.com/assets/7315913/4188645/a08bf402-3774-11e4-96d2-9569872950ff.png)

[2014-09-08 16:48] Nithyavasudevan opened #165 "Cannot login as platform registered users"
Created registered user (anya) directly on the platform. This is not using the register user option on CKAN. While CKAN seems to have harvested this user back, there seems to be no way to actually login as this user. If CKAN will not let platform registered users to login via CKAN, then it should not harvest these users back.

[2014-09-08 17:26] Nithyavasudevan opened #166 "pending members tab to be removed"
Pending members tab under organisation seems to display nothing. If it is not used, it should be removed

![image](https://cloud.githubusercontent.com/assets/7315913/4189555/505c8cd6-377d-11e4-912c-06d13def27f8.png)

[2014-09-08 17:32] Nithyavasudevan opened #167 "Update user profile doesn't seem to do anything"
1. Went to Organisations page and selected an organisation and clicked on manage.
2. Selected MEmbers and selected a member.
3. Clicked on Manage in the member page. It fetches the username with domain so any changes do not get submitted.
4. However, when i remove the domain part and make changes to user profile and submit, it seems to have made changes locally and the changes are not getting sent

[2014-09-08 17:55] Nithyavasudevan commented on #162
With new requirements for CKAN, we have now made "Registered Users"="CKAN Users". However, the platform can still have registered users which are non WAAD users. So when CKAN does a harvest, it harvests all users back including users with no domain (platform non waad registered users)

[2014-09-09 05:30] #158 closed, assigned to nigelbabu

[2014-09-09 05:31] #24 closed, assigned to nigelbabu

[2014-09-09 09:42] adamamyl commented on #161
(helpers in Glasgow extension should ease this)

[2014-09-09 09:53] adamamyl commented on #164
The "Members" rôle **should** exist so that users can follow an organization to get updates and interact with the dataset.

This has been part of the design and is one of the reasons why a citizen (etc) may want to register on CKAN.

[2014-09-09 09:58] adamamyl commented on #156
@Nithyavasudevan can you re-test this, once we have clean data (post MS deploy, post our reset)

[2014-09-09 10:10] Nithyavasudevan commented on #156
will do. what was the actual fix done please? So u understand what to test and also impact?

[2014-09-09 10:12] Nithyavasudevan commented on #164
Member role should exist in the system. But not in that dropdown or hidden there. As selecting it there just kills the system.That isn't right design as MEmber is never a member of an organisation.

[2014-09-09 10:19] adamamyl commented on #156
We [think it was a case of dirty data](https://github.com/okfn/ckanext-glasgow/issues/156#issuecomment-54507391).

[2014-09-09 10:24] adamamyl commented on #167
[Thoughts]: drop the username field, or make it non-editable (like quite a lot of sites do).

Changing password is going to be tricky: for the two types of user (CTPEC & CKAN-local).

I think the best action might be (assuming [WAAD supports changing passwords](https://www.yammer.com/futurecitiesdemonstrator/#/Threads/show?threadId=437548704)) is to have two options: 'Citizen' (for CKAN) and 'Publ

[2014-09-09 10:28] Nithyavasudevan commented on #156
we will discuss this on the call

[2014-09-09 10:28] Nithyavasudevan commented on #167
let's discuss this on the call

[2014-09-09 10:44] adamamyl commented on #167
Change password uses a different call.

[2014-09-09 10:50] adamamyl commented on #131
All datasets on frontend working OK.

[2014-09-09 10:51] adamamyl commented on #131
(possibly)

[2014-09-09 11:14] adamamyl commented on #163
Red X....

[2014-09-09 12:25] Nithyavasudevan commented on #163
Red X causes internal server error

[2014-09-09 12:45] amercader commented on #125
@joetsoi This is still happening for me

Editing this org, setting "Needs Approval" to false:

https://ckanfrontend.cloudapp.net/organization/edit/org-uat-9-9

When the changes are applied in CKAN, the field stills shows as True in the form.

[2014-09-09 12:54] amercader commented on #111
There's still some cases when this can failed, we'll look into it

[2014-09-09 13:07] Nithyavasudevan commented on #156
Note. Not bad data. Note the file name in first and second screenshot
![image](https://cloud.githubusercontent.com/assets/7315913/4201772/13182fce-3822-11e4-9eed-7467604bf92b.png)
![image](https://cloud.githubusercontent.com/assets/7315913/4201776/1b272954-3822-11e4-8e52-f89ec417270a.png)

[2014-09-09 13:14] amercader commented on #53
This is ready on the CKAN side, but the platform is returning errors when trying to create a user:

[code]

[2014-09-09 13:20] amercader commented on #94
This feature is ready for testing. If it needs to be tested under certain conditions we can keep the issue open until these are met

[2014-09-09 13:21] Nithyavasudevan commented on #53
what was the data passed please?

[2014-09-09 13:26] joetsoi commented on #113
when #166 is deployed, the pending members should appear in that tab, otherwise adding a member should be working

[2014-09-09 13:29] Nithyavasudevan commented on #160
Looked at Pending user screen. It doesn't seem to list the requests.
Case in Point Request ID 2e95a5d4-a3d3-4655-b44b-2038d9af24e0

![image](https://cloud.githubusercontent.com/assets/7315913/4202081/3e646956-3825-11e4-8328-50c35e9d6035.png)

screenshot of changelog from test tool
![image](https://cloud.githubusercontent.com/assets/7315913/4202101/555615c4-3825-11e4-92d3-7c7cdf4c779c.png)

[2014-09-09 13:30] joetsoi commented on #140
this looks fixed in on the microsoft end to me now

[code]

I'll have to check later for user updates

[2014-09-09 13:37] Nithyavasudevan commented on #160
Agreed with Joe that there is no success audit displayed. If user request not in pending user screen, that means it is created. However, the status message for a failed request doesn't display either. Request ID 5128383a-3ebc-485b-b950-6f2339c25ce2

![image](https://cloud.githubusercontent.com/assets/7315913/4202241/6931777c-3826-11e4-9ee9-3c906b63dd7c.png)

![image](https://cloud.githubuserconten

[2014-09-09 13:45] Nithyavasudevan commented on #140
cool.. this was fixed in their previous build.

[2014-09-09 14:30] Nithyavasudevan commented on #147
tested. works ok.

[2014-09-09 14:30] #147 closed, assigned to adamamyl

[2014-09-09 14:32] Nithyavasudevan commented on #145
checked. works fine.

[2014-09-09 14:32] #145 closed, assigned to adamamyl

[2014-09-09 14:34] Nithyavasudevan commented on #138
Works fine

[2014-09-09 14:34] #138 closed, assigned to adamamyl

[2014-09-09 14:37] adamamyl opened #168 "Cut release (v1)"
Let's cut a release (V1.0) pushed out for production.

Ideally capturing all P1 bugs.

[2014-09-09 14:42] Nithyavasudevan opened #169 "Updating dataset causes all its resources to disappear"
1. Updated the description for dataset rrrr
2. Note that this dataset has 3 files
   ![image](https://cloud.githubusercontent.com/assets/7315913/4203490/008d24a0-3830-11e4-996d-58b23827a61d.png)
3. Now updated the dataset metadata

![image](https://cloud.githubusercontent.com/assets/7315913/4203510/1ad74b60-3830-11e4-9ee2-6752b1f9ee9e.png)
1. Note that after harvest, its resources have vanished

[2014-09-09 15:26] Nithyavasudevan commented on #131
checked works

[2014-09-09 15:26] #131 closed, assigned to joetsoi

[2014-09-09 16:30] Nithyavasudevan opened #170 "Organization breadcrumb missing organization name"
After creating a user and adding him to an organisation via the organisation manage screen, the path shown on screen does not look right

It shows Organizations // Manage

![image](https://cloud.githubusercontent.com/assets/7315913/4205246/91d191ea-383e-11e4-9c80-6595ee349a8f.png)

[2014-09-09 17:01] amercader commented on #156
OK, this was more complex than expected and the potential fix might not be entirely satisfying. The way custom fields in resources are handled in CKAN, any field not part of the main schema will be added to the main object before creating / updating, eg:

[code]

Gets translated into this CKAN equivalent:

[code]

Note that the platform field `Title` is named `name` in CKAN. If a custom field is u

[2014-09-09 17:07] Nithyavasudevan commented on #156
@amercader when you say prevent it from being imported, do you mean stop user from creating these on ckan?

[2014-09-09 17:22] joetsoi commented on #125
I removed the boolean_validator from needs_approval from group_show earlier, I've replaced it and it's now ok

[2014-09-09 17:40] Nithyavasudevan commented on #123
fetches description back. works fine.

[2014-09-09 17:40] #123 closed, assigned to amercader

[2014-09-09 17:45] Nithyavasudevan commented on #169
resource undisappeared

[2014-09-09 17:45] #169 closed, assigned to amercader

[2014-09-09 17:46] Nithyavasudevan commented on #122
passed now

[2014-09-09 17:46] #122 closed, assigned to amercader

[2014-09-09 17:50] Nithyavasudevan commented on #116
Will keep an eye on this for some time

[2014-09-09 17:58] Nithyavasudevan opened #171 "url field while creating dataset uses values keyed rather than field value"
URL field while creating a dataset seems to use keystrokes made in title box rather than taking the final value of the field. If I use Autofill to complete my title field, the url and title are not in sync.
Eg.
Go to title field and key J. It prompts me JDE Dataset (as it was an earlier value used). Tab out of field and fill in all other fields. Note that url field says j only.
![image](https://cl

[2014-09-09 21:46] Nithyavasudevan commented on #113
works

[2014-09-09 21:46] #113 closed, assigned to joetsoi

[2014-09-10 08:19] Nithyavasudevan commented on #111
works

[2014-09-10 08:19] #111 closed, assigned to amercader

[2014-09-10 08:20] Nithyavasudevan commented on #105
message now correct

[2014-09-10 08:20] #105 closed, assigned to joetsoi

[2014-09-10 08:27] Nithyavasudevan commented on #95
this is not ready for test. same error

[2014-09-10 09:48] amercader commented on #170
Fixed now

[2014-09-10 09:51] #140 closed, assigned to joetsoi

[2014-09-10 10:17] Nithyavasudevan opened #172 "OrgEditor can't see pending resources"
When I create a file logged in as an OrgEditor, I can't seem to see my pending resources. When I do the same as SuperAdmin, the pending resources get listed in the dataset page and there is an option to check request. SAme case for org admin. Pending changes tab doesn't work for orgadmin

![image](https://cloud.githubusercontent.com/assets/7315913/4215913/ad7f022a-38d3-11e4-86c1-b9f1dc3bf18a.png)

[2014-09-10 10:52] Nithyavasudevan opened #173 "Delete file version doesn't let me check request status"
Logged in as OrgEditor, when I delete a specific file version, there is a message on screen saying request submitted, but there is no place for me to see the request status

![image](https://cloud.githubusercontent.com/assets/7315913/4216330/7b6490b6-38d8-11e4-8fdd-535bb4adc20c.png)

[2014-09-10 12:55] Nithyavasudevan commented on #170
this needs to be fixed for all scenarios. when add user fails on the platform for some reason, this seems broken again.
![image](https://cloud.githubusercontent.com/assets/7315913/4217601/a5371862-38e9-11e4-8007-fc631a775df8.png)

[2014-09-10 13:05] Nithyavasudevan opened #174 "Add member to organisation design to be improved"
The drop down box for usernames in the add member screen should only list "members" who can be pulled into the group. At the moment it lists all platform users and internal service id's

![image](https://cloud.githubusercontent.com/assets/7315913/4217661/579c1ed0-38ea-11e4-9dfd-64ee838105ba.png)

[2014-09-10 13:18] Nithyavasudevan commented on #125
Can't really check. Submitting a change to org metadata seems to give a 404. logged in as org admin.

![image](https://cloud.githubusercontent.com/assets/7315913/4217912/c742cae8-38ec-11e4-8ffe-99e7ce4fa2d9.png)

![image](https://cloud.githubusercontent.com/assets/7315913/4217916/d492827e-38ec-11e4-8db2-e0294bef6f19.png)

[2014-09-10 13:46] stevenlivz commented on #156
So this happens at ALL levels for custom metadata. Everything in the hierarchy (as it may be a serialized lightweight object rather than a single key/value pair) is normalized to a scalar key/value dictionary list??

Even with a basic approach to using namespaces "custommetadata.name" which is a 5 minute job, it seems this will not work as everything is normalized to a single key/value list. Very

[2014-09-10 13:57] stevenlivz commented on #156
My question is, you can't use "name" in the custom metadata as it clashes with the core metadata - which i get.

However, _within_ the metadata, if i use the key "testkey" for two different objects serialized in the JSON, will i only get the value for one of them? e.g.

{
   "title":"steven",
   "Metadata": {

[code]

}

[2014-09-10 14:26] amercader commented on #156
I'm afraid I don't know what you mean in both your comments

Custom field values are serialized as a string so if you input a JSON object it will get serialized as such:

[code]

See eg:

https://ckanfrontend.cloudapp.net/dataset/dataset-uat-9-9

https://ckanfrontend.cloudapp.net/dataset/dataset-uat-9-9/resource/82e0f207-3dc0-4600-8bdf-33c9157fcf79

As I mentioned before this can be done, but it i

[2014-09-10 14:36] stevenlivz commented on #156
Glad to hear it is serialized as a string - this is what I was hoping.

I was actually using your example where you said "any field not part of the main schema will be added to the main object before creating / updating" which doesn't sound technically true given your statement above says "Custom field values are serialized as a string".

You said:
{
    "Title": "Some file",
    "Quality": 1,

[2014-09-10 14:42] amercader commented on #156
On your example:

[code]

will get transformed into:

[code]

We obviously need to prevent `"name": "custom value",` (which is what this issue was originally about), but the `name` keys inside nested dicts in values should not be a problem.

[2014-09-10 14:44] stevenlivz commented on #156
Lovely - that looks great Adria. Thanks. @Nithyavasudevan - will we need to just check this scenario but is what i was hoping :+1:

[2014-09-10 15:05] Nithyavasudevan commented on #13
We have seen this work many times. Can we close this?

[2014-09-10 15:06] Nithyavasudevan commented on #23
Doesn't this already work now anyway using the harvester? Can we close this?

[2014-09-10 15:24] #23 closed, assigned to nobody

[2014-09-10 15:24] #13 closed, assigned to nobody

[2014-09-10 15:44] Nithyavasudevan opened #175 "Create new file version as OrgAdmin or OrgEditor does not display request status"
On creating a new file version logged in as OrgAdmin or OrgEditor, CKAN does not show the changelog details. When logged in as SuperAdmin, it displays the pending resources.

![image](https://cloud.githubusercontent.com/assets/7315913/4220422/52ca6652-3901-11e4-8d53-35f2eb7366c8.png)

[2014-09-10 15:45] Nithyavasudevan commented on #32
works for SUperadmin, org admin and editor

[2014-09-10 15:45] #32 closed, assigned to joetsoi

[2014-09-10 15:46] Nithyavasudevan commented on #94
tested as SuperADmin, OrgAdmin and OrgEditor. Works

[2014-09-10 15:46] #94 closed, assigned to amercader

[2014-09-10 16:06] Nithyavasudevan opened #176 "Update Organisation Audit screen doesn't list EC Request ID"
Logged in as SuperAdmin and changed the Organisation metadata.
Went into pending changes tab to check the status. Noticed that EC Request ID is empty. Also not sure what the Status:sent field is and where it is from and what it signifies.

![image](https://cloud.githubusercontent.com/assets/7315913/4220830/259361a4-3904-11e4-86ff-63f88ac6bb49.png)

[2014-09-10 16:30] Nithyavasudevan commented on #93
checked. works

[2014-09-10 16:30] #93 closed, assigned to amercader

[2014-09-10 17:32] amercader commented on #156
@Nithyavasudevan, @stevenlivz As agreed, these two features are ready for testing:
1. On the dataset and resource forms a validation error is shown if one of the keys in the custom fields exists in the core schema (eg `name` or `quality`) (see image below)
2. When importing datasets and resources via changelog harvesting, any custom field which has a key that exists in the core schema is ignored.

[2014-09-10 17:44] adamamyl commented on #156
:star2:

[2014-09-10 20:15] Nithyavasudevan commented on #92
this seems to have broken. On download, I get an empty file and not the actual file content.I checked logged in as orgadmin and superadmin.
![image](https://cloud.githubusercontent.com/assets/7315913/4224669/1eb6ae86-3927-11e4-96a4-4194402f6843.png)

[2014-09-10 21:58] Nithyavasudevan commented on #91
works

[2014-09-10 21:58] #91 closed, assigned to amercader

[2014-09-10 22:11] Nithyavasudevan commented on #90
works

[2014-09-10 22:11] #90 closed, assigned to nobody

[2014-09-10 22:11] Nithyavasudevan commented on #89
works

[2014-09-10 22:11] #89 closed, assigned to nobody

[2014-09-10 22:13] Nithyavasudevan commented on #88
there is no link to view all users in the system. only way now is to go into each organisation and look at members

[2014-09-10 22:14] Nithyavasudevan commented on #87
works

[2014-09-10 22:14] #87 closed, assigned to nobody

[2014-09-10 22:16] Nithyavasudevan commented on #53
works

[2014-09-10 22:16] #53 closed, assigned to joetsoi

[2014-09-10 22:17] Nithyavasudevan commented on #50
This needs to stay open as there are defects raised with ability to check operation status depending on user role.

[2014-09-10 22:18] Nithyavasudevan commented on #116
seems ok

[2014-09-10 22:18] #116 closed, assigned to amercader

[2014-09-11 09:44] joetsoi commented on #160
I've changed the pending users page to be clearer and contain some more useful information such as the user name and the last time the task was checked. Clicking on the refresh button will take you to the task status page and update the ckan task to say it has errored.

![pending_users](https://cloud.githubusercontent.com/assets/241130/4232020/f5796740-3997-11e4-9de9-78d870e2d02b.png)

[2014-09-11 09:49] joetsoi commented on #125
fixed auth error in action function

[2014-09-11 10:27] amercader commented on #92
What are the original contents of the "coté.txt" file? At least some lines so we can check.

[2014-09-11 10:28] Nithyavasudevan commented on #160
Doesn't work for Org Admin
![image](https://cloud.githubusercontent.com/assets/7315913/4232546/5468a026-399e-11e4-9a61-4819a4e1c1ea.png)

[2014-09-11 10:37] #84 closed, assigned to amercader

[2014-09-11 10:37] #85 closed, assigned to amercader

[2014-09-11 12:57] amercader commented on #92
This is now fixed and ready for testing

[2014-09-11 12:59] Nithyavasudevan commented on #125
works

[2014-09-11 12:59] #125 closed, assigned to joetsoi

[2014-09-11 13:39] Nithyavasudevan commented on #175
works

[2014-09-11 13:39] #175 closed, assigned to adamamyl

[2014-09-11 13:53] Nithyavasudevan commented on #173
still seems same.. as editor
![image](https://cloud.githubusercontent.com/assets/7315913/4234872/05b75bd0-39bb-11e4-8f2e-54e26ac62a66.png)

[2014-09-11 14:19] amercader commented on #173
The status is shown on the dataset page, under "Pending Operations on Resources"
It kind of breaks the user flow to redirect to that page, but we can do it if you think that makes more sense.

![woxwfek](https://cloud.githubusercontent.com/assets/200230/4235316/7911597a-39be-11e4-9d41-95d475f79891.png)

[2014-09-11 14:21] Nithyavasudevan commented on #173
Nope. As long as its there, it should be ok..

[2014-09-11 14:31] Nithyavasudevan commented on #173
The delete file version status request doesn't actually show the title of the version being deleted. instead it shows the latest version

[2014-09-11 14:56] Nithyavasudevan commented on #172
works

[2014-09-11 14:56] #172 closed, assigned to adamamyl

[2014-09-11 16:06] Nithyavasudevan opened #177 "Making a user a SuperAdmin - Cannot check request status"
While making a user a SuperAdmin, there is a message with request ID, but no place to check the status. IS it to be displayed in pending users?

![image](https://cloud.githubusercontent.com/assets/7315913/4237292/9a24f6a8-39cd-11e4-95dc-1ca566776ca9.png)

[2014-09-12 14:40] Nithyavasudevan opened #178 "Make user a Super Admin screen contains unharvested users"
In the Make User a SuperAdmin screen, the user dropdown contains newly created users who are not yet harvested into the platform. Submitting requests like that will lead to 404.

[2014-09-13 19:00] Nithyavasudevan opened #179 "Browser back button to user create submission submits a user request again"
1. Logged in as superadmin and created a user
2. User request got submitted
3. Went to pending users screen to check request status
4. then hit the browser back button
5. Got the confirm form resubmission screen
   ![image](https://cloud.githubusercontent.com/assets/7315913/4261636/003babc0-3b78-11e4-9dfe-9dd5df50dadd.png)
6. Hit confirm. The form got resubmitted to create another user.
   ![image

[2014-09-13 19:12] Nithyavasudevan opened #180 "Consistency in screen design while checking for request update"
While creating a new user, the pending changes screen design is different from checking status while adding a member to an organisation. For the sake of consistency, can we please design both screens the same way.

[2014-09-15 10:28] adamamyl opened #181 "Show title of deleted version"
À propos to #173, there is slight defect in that we don't show the title of a deleted version but of
the most recent one (although the status is shown).

[2014-09-15 11:20] Nithyavasudevan commented on #181
Yes.. Just causes a bit of panic when you think you have deleted the wrong version.. 😊

Sent from my Windows Phone

---

From: adam mcgreggormailto:notifications@github.com
Sent: ‎15/‎09/‎2014 11:28
To: okfn/ckanext-glasgowmailto:ckanext-glasgow@noreply.github.com
Subject: [ckanext-glasgow] Show title of deleted version (#181)

À propos to #173, there is slight defect in that we don't show the tit

[2014-09-15 12:10] mcginns commented on #160
Works fine for Org Admin now

![image](https://cloud.githubusercontent.com/assets/7511445/4270879/433cf000-3cd1-11e4-9cc9-658ca042d3f1.png)

Ok to close

[2014-09-15 12:18] #160 closed, assigned to joetsoi

[2014-09-15 14:28] mcginns commented on #92
Re-tested successfully. This can be closed.

![image](https://cloud.githubusercontent.com/assets/7511445/4272681/8684b5d8-3ce4-11e4-88bf-bfc8e8bd4635.png)

[2014-09-15 14:57] mcginns commented on #170
This still shows Organisations // Manage when add member operation fails.

![image](https://cloud.githubusercontent.com/assets/7511445/4273201/ab068e6e-3ce8-11e4-8aeb-40e978274f22.png)

[2014-09-15 15:08] stevenlivz commented on #156
Reserved words are here https://gist.github.com/amercader/ef1d24fc63ad4e308277

[2014-09-15 15:24] #92 closed, assigned to amercader

[2014-09-15 15:26] mcginns commented on #173
Adam, I'm ok to close this (on the basis we can see the pending status now) as long as we make #181 a P2-candidate.

[2014-09-15 16:09] mcginns commented on #166
We can close this down as Pending Members tab is operating correctly to show pending members

[2014-09-15 16:35] #166 closed, assigned to adamamyl

[2014-09-15 16:37] adamamyl commented on #173
#181 P2'd.

[2014-09-15 16:37] #173 closed, assigned to adamamyl

[2014-09-15 17:06] Nithyavasudevan commented on #170
removed ready for testing label

[2014-09-15 17:07] Nithyavasudevan commented on #156
Based on our agreement that this list is ok, we can close this. This list will need to be documented in tfs for future reference..

[2014-09-15 17:44] Nithyavasudevan commented on #156
The error messages still need checked.
I created a dataset with custom metadata fields save, before, _before and private. But the error message i got was Extras: There is a schema field with the same name
![image](https://cloud.githubusercontent.com/assets/7315913/4275829/f925099c-3cff-11e4-9198-2bccccd5cce0.png)

![image](https://cloud.githubusercontent.com/assets/7315913/4275832/fe2b4e92-3cff-11

[2014-09-15 19:16] Nithyavasudevan commented on #50
Closing this user story as any discrepancies are being tracked as defects separately.

[2014-09-15 19:16] #50 closed, assigned to joetsoi

[2014-09-17 09:35] mcginns commented on #51
User story accepted. This can be closed

[2014-09-17 09:40] #51 closed, assigned to joetsoi

[2014-09-17 09:46] mcginns commented on #52
User story accepted. This can be closed.

[2014-09-17 09:46] #56 closed, assigned to amercader

[2014-09-17 09:47] adamamyl commented on #56
Exposing aspects of change log deployed through a variety of endpoints.

[2014-09-17 11:46] adamamyl opened #182 "Deploy 'system' playbook"
Install/config system packages, including an MTA, ASAP.

[2014-09-17 11:49] mcginns commented on #52
Closed

[2014-09-17 11:49] #52 closed, assigned to amercader

[2014-09-17 12:19] mcginns commented on #167
This is blocking the closure of user story #54 (update of user account details). Can we re-categorise as a P1 for investigation pls?

User profile information update fails due to a validation problem on the Username field:

![image](https://cloud.githubusercontent.com/assets/7511445/4303313/e0b058e2-3e64-11e4-9973-7748a13bd6d2.png)

[2014-09-17 12:30] mcginns commented on #55
Accepted. User Story closed.

[2014-09-17 12:30] #55 closed, assigned to joetsoi

[2014-09-17 12:46] mcginns commented on #88
List of users available via

![image](https://cloud.githubusercontent.com/assets/7511445/4303564/374daf1c-3e68-11e4-9999-b90b317b049d.png)

which is ok (albeit you need to go own user first then click back to home / users or browse straight to the url ...cloudapp.net/user)

User profile information can be viewed so ok to close this story.

[2014-09-17 12:46] #88 closed, assigned to joetsoi

[2014-09-17 13:01] mcginns opened #183 "Activity Stream tab shows all activity owned by a default user"
Looking on both UAT and Prod all activity stream entries are owned by a default user (default or glasgow respectively) rather than the specific user who initiated the activity.

![image](https://cloud.githubusercontent.com/assets/7511445/4303783/7276a376-3e6a-11e4-8a4e-1a1db1b5d43c.png)

The activity stream for each user does not show any activity associated with that user.

[2014-09-17 13:06] mcginns commented on #96
Updated Organisation details successfully as Org admin (admin2@open.glasgow.gov.uk) on Prod.

![image](https://cloud.githubusercontent.com/assets/7511445/4303855/3c129780-3e6b-11e4-8abe-2148ecf53fe6.png)

Pending changes tab operates as expected.

[2014-09-17 13:06] #96 closed, assigned to adamamyl

[2014-09-17 13:28] mcginns commented on #83
Operates as expected for both SuperAdmin & OrgAdmin

[2014-09-17 13:28] #83 closed, assigned to joetsoi

[2014-09-17 13:49] mcginns commented on #161
Pending Changes tab is still visible to member users on both Organisations and Datasets. How easy is it to hide the tab based on role?

[2014-09-17 13:59] mcginns commented on #156
Can we tidy up the error message that is presented to the user in this situation pls?
Something like:

Sorry you cannot use key <value> for Custom Field. Please choose an alternative.

.....whatever fits in with the standard lingo used for other user errors in CKAN as long as it's a bit more meaningful than current error.

[2014-09-17 14:24] adamamyl commented on #182
Postfix installed.

[2014-09-19 12:42] #182 closed, assigned to nigelbabu

[2014-09-23 09:32] adamamyl commented on #183
This might break harvesting; one to look at afterwards. Not simple.

[2014-09-23 15:33] stevenlivz commented on #183
Yes. This was highlighted by Nithya a couple of weeks ago.

https://www.yammer.com/futurecitiesdemonstrator/#/threads/show?threadId=439112864&messageId=439112864

The Owner property should be used here. This is a big issue as users/orgs will have no activity associated wit them.

[2014-09-24 13:33] joetsoi commented on #170
https://github.com/ckan/ckan/pull/1873 for the add member case, this is the same bug as the roles disappearing and that will take time to merge to ckan, otherwise this is fixed

[2014-09-25 09:01] mcginns commented on #183
This is a significant issue as it limits the functionality available in the Dashboard area of CKAN.
Do we have a view of the approach to fix and associated complexity?

[2014-09-25 09:34] mcginns commented on #181
Deleted resource version "Version Check" below:

![image](https://cloud.githubusercontent.com/assets/7511445/4402306/97b94f12-4496-11e4-9a4b-288660f20c25.png)

The pending operation still shows the title of the latest version and now an additional GUID. This doesn't clarify the situation for the user or improve the user experience.

![image](https://cloud.githubusercontent.com/assets/7511445/44023

[2014-09-25 09:41] mcginns commented on #167
I get a platform error referencing a null entry for userid when I try to update description for user David Cameron as super user on https://ckanfrontend.cloudapp.net

![image](https://cloud.githubusercontent.com/assets/7511445/4402478/001d54ee-4498-11e4-9f1b-a7005a027d50.png)

[2014-09-25 09:49] mcginns commented on #161
Re-tested and passed. Logged in as member user - pending changes tab is not visible for Datasets and Orgs

![image](https://cloud.githubusercontent.com/assets/7511445/4402603/2e442022-4499-11e4-9187-529d5e4b6346.png)

[2014-09-25 09:49] #161 closed, assigned to joetsoi

[2014-09-25 09:56] mcginns commented on #164
Has this one been scheduled for fix yet?

[2014-09-25 09:58] mcginns commented on #174
Has this been scheduled for fix yet?

[2014-09-25 10:35] mcginns commented on #156
IS anyone looking at tidying up the error message on this to make it a bit more user friendly?

[2014-09-25 10:44] mcginns commented on #159
This relates to defect 156 and use of reserved words for user created datasets, resources and custom metadata.

[2014-09-25 10:46] mcginns commented on #146
Closing this one. User has the option to open in a new window if they like.

[2014-09-25 10:46] #146 closed, assigned to adamamyl

[2014-09-25 11:00] mcginns commented on #128
Group functionality will be fully enabled once the Glasgow theme is implemented. Closing this one.

[2014-09-25 11:00] #128 closed, assigned to adamamyl

[2014-09-25 13:04] mcginns commented on #118
URLs seem ok for standard datasets and resources, when visiting versions of resources the formatting of urls seems to change to include guids

[2014-09-25 13:10] mcginns commented on #102
This is similar to 183 and relates to how the harvester assign an owner to the dataset or resource created. All user created resources seems to have a default owner.

Flagging as P1 so we can consider with 183....we could probably merge these issues.

[2014-09-25 13:13] mcginns commented on #100
This option is now not available to non-super admin users

[2014-09-25 13:13] #100 closed, assigned to adamamyl

[2014-09-29 08:29] joetsoi commented on #167
@mcginns I've updated the code on integration again and the requests now get sent but when you check it, it will fail with a validation error, are the microsoft guys still about for us to see what happened on their end?

[2014-09-29 08:35] joetsoi commented on #181
I've now changed this to the title

[2014-09-29 13:02] mcginns commented on #167
Yeah update request seems to go ok but the change isn't harvested back to the user profile.
Jakub finished on the project on Friday but I'm sure he'll take a look at the logs for you.

Drop something onto Yammer and ask if he could take a quick look.

[2014-09-29 13:04] mcginns commented on #181
Looks good Joe. Re-tested - happy to close.

[2014-09-29 13:04] #181 closed, assigned to joetsoi

[2014-09-29 13:07] mcginns commented on #183
Additional issue details copied from #102.
This is a slightly different manifestation of the same issue outlined here so will close #102.

While logged in as MSFTAdmin, i go the dashboard and click on My datasets tab
The page is empty. Ideally it should list all the datasets within my organisation.

[2014-09-29 13:08] mcginns commented on #102
Have moved issue details into #183 as this is a slightly different manifestation of the same issue.
Closing.....

[2014-09-29 13:08] #102 closed, assigned to adamamyl

[2014-10-02 09:36] #118 closed, assigned to adamamyl

[2014-10-02 09:45] adamamyl commented on #164
Only affects CKAN users &#8212; **no** impact on platform users.

[2014-10-02 09:45] #164 closed, assigned to adamamyl

[2014-10-02 17:10] #168 closed, assigned to amercader

[2014-10-02 17:24] #163 closed, assigned to adamamyl

[2014-10-02 17:24] #162 closed, assigned to adamamyl

[2014-10-02 17:42] adamamyl opened #184 "Apache Version Disclosure"
## Issue

_Some application servers give away verbose version information in error messages. This allows an attacker to profile systems, and can aid in their exploitation, especially by automated means such as worms, viruses, and other malware._
## Recommendation

Version numbers and application names should be omitted or limited wherever possible.
## Outcome / Fix
- [ ] Quell display of these inf

[2014-10-02 17:46] adamamyl opened #185 "Header Disclosure (nginx)"
## Issue

_An HTTP header produced by the CKAN application was found to provide information about the software which is installed on the web server. An attacker may use this information to gain a greater understanding of the underlying technologies involved and tailor further attacks to these specific products. Therefore, it is considered good practice to exclude information such as this from HTTP

[2014-10-02 17:59] adamamyl opened #186 "Remove sysadmins from list of users"
## Discovery

_The user panel available within the CKAN application to any unauthenticated or authenticated user displays usernames for all users and reveals admin accounts on the application. Using this functionality provides an attacker with a full list of usernames with which to attempt password guessing or brute force attacks._
## Recommendation

Consider removing usernames from being displaye

[2014-10-06 09:56] #159 closed, assigned to adamamyl

[2014-10-06 09:56] #165 closed, assigned to adamamyl

[2014-10-06 09:56] #154 closed, assigned to adamamyl

[2014-10-06 09:56] #150 closed, assigned to adamamyl

[2014-10-06 09:56] #149 closed, assigned to adamamyl

[2014-10-06 09:57] #148 closed, assigned to adamamyl

[2014-10-21 13:35] stevenlivz commented on #183
This one is also ready for testing, correct @adamamyl @joetsoi ?

[2014-10-21 14:19] adamamyl commented on #183
yeap.

[2014-11-13 17:50] stevenlivz opened #187 "Error making user a SuperAdmin"
1. Access Make Super Users On The Platform
   https://ckanfrontend.cloudapp.net/change_user_role
2. Choose a user and submit.
3. Error message

"404 Not Found

The resource could not be found.

Object not found:"

[2014-11-14 11:50] amercader commented on #187
Changelog Harvest log says:

[code]

[2017-01-30 12:23] stevenvandervalk opened #188 "Install just the theme without rest of extensions?"
Hi, I'm a big fan of the design and usability of the Glasgow theme and was hoping to adapt it for a regional open data portal.  I'm wondering if it is possible to install the theme alone without the rest of the extensions? I noticed the repo https://github.com/amercader/ckanext-glasgow_theme but it breaks on a latest CKAN install for various reasons.  Any advice would be greatly appreciated!